{% extends "base_simulation.jinja2" %}

{% block title %}IBM 704 Assembly Addition{% endblock %}

{% block self %}IBM 704 Assembly Addition{% endblock %}

{% block code %}
    <p class="symbolic_code" id = "symbolic_code0">CLA 4</p>
    <p class="symbolic_code" id = "symbolic_code1">ADD 5</p>
    <p class="symbolic_code" id = "symbolic_code2">STO 6</p>
    <p class="symbolic_code" id = "symbolic_code3">HTR</p>
{% endblock %}

{% block specific_script %}
    <script src="{{ static('js/assembly_addition.js')}}"></script>
{% endblock %}