{% extends "base_simulation.jinja2" %}

{% block title %}IBM 704 Assembly Addition{% endblock %}

{% block self %}IBM 704 Assembly Addition{% endblock %}

{% block code %}
    <p class="symbolic_code" id = "symbolic_code0">CLA 4</p>
    <p class="symbolic_code" id = "symbolic_code1">ADD 5</p>
    <p class="symbolic_code" id = "symbolic_code2">STO 6</p>
    <p class="symbolic_code" id = "symbolic_code3">HTR</p>
{% endblock %}

{% block description %}
    Here's what's happening here:
    <b>CLA 4: </b> Clears the accumulator and stores the value at address 4 (which you'll see if you mouseover is 12) into the accumulator.
    <b>ADD 5: </b> Adds the value at address 5 (30) to the accumulator.
    <b>STO 6: </b> Stores the value of the accumulator into the register at address 6.
    <b>HTR: </b> Tells the computer to stop.
    If you run this, you'll see that register 6 has a fixed point value of 42.  The answer to life, the universe, and everything.  Everything as it should be.
{% endblock %}