{% extends "base.jinja2" %}

{% block title %}IBM 704 Assembler{% endblock %}

{% block self %}IBM 704 Assembler{% endblock %}

{% block table %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3>Code</h3>
            <textarea class="form-control" id="code_box" spellcheck="false"
                      placeholder="Code here!"></textarea>
            <br />
        </div>
        <div class="col-sm-6 pre-scrollable" id="general_memory_div">
            <h3>General Memory</h3>
        </div>
        <div class="col-sm-3 other_registers">
            <h3>Other Registers: </h3>
            <p>Instruction Location Counter: <span id="instruction_location_counter"></span></p>
            <p>Instruction Register: <span id="instruction_register"></span></p>
            <p>Storage Register: <span id="storage_register"></span></p>
            <p>Accumulator: <span id="accumulator"></span></p>
            <br />
        </div>
    </div>
    <button id="assemble_button">Assemble</button>
    <button id="step_button">Step</button>
    <button id="run_button">Run</button>
    <button id="clear_button">Clear</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ static('js/ibm704sim.js')}}"></script>
<script src="{{ static('js/assembler-test.js')}}"></script>
{% endblock %}
