{% extends "base.jinja2" %}

{% block table %}
    {% block extra_stuff_at_top %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>Code</h3>
                {% block code %}
                {% endblock %}
            </div>
            <div class="col-sm-6 pre-scrollable" id="general_memory_div">
                <h3>General Memory</h3>
            </div>
            <div class="col-sm-3 other_registers">
                <h3>Other Registers: </h3>
                <p>Instruction Location Counter: <span id="instruction_location_counter"></span></p>
                <p>Instruction Register: <span id="instruction_register"></span></p>
                <p>Storage Register: <span id="storage_register"></span></p>
                <p>Accumulator: <span id="accumulator"></span></p>
                <p>Index Register A: <span id="index_a"></span></p>
                <p>Index Register B: <span id="index_b"></span></p>
                <p>Index Register C: <span id="index_c"></span></p>
                <br />
            </div>
        </div>
        <button id="assemble_button">Assemble</button>
        <button id="step_button">Step</button>
        <button id="run_button">Run</button>
        <button id="clear_button">Clear</button>
    </div>
    <br />
    <div class = "jumbotron text-left">{% block description %}{% endblock %}</div>
    {% endblock %}

{% block scripts %}
    <script src="{{ static('js/ibm704sim.js')}}"></script>
    <script src="{{ script_name }}"></script>
    <script src="{{ static('js/base_simulation.js')}}"></script>
{% endblock %}
