{% extends "base_simulation.jinja2" %}

{% block title %}IBM 704 Assembler{% endblock %}

{% block self %}IBM 704 Assembler{% endblock %}

{% block code %}
    <textarea class="form-control" id="code_box" spellcheck="false"
                      placeholder="Code here!"></textarea>
{% endblock %}

{% block description %}
<p>This is your space to play around with whatever code you want to write with the operations we have.
    It's just like the real thing, except there are no punch cards.  And you can type instead of writing.
And we actually check your syntax.  And no bugs can crawl into the computer.  But aside from that,
it's just like the real thing!</p>
{% endblock %}