{% extends "base_simulation.jinja2" %}

{% block title %}IBM 704 Assembler{% endblock %}

{% block self %}IBM 704 Assembler{% endblock %}

{% block code %}
    <textarea class="form-control" id="code_box" spellcheck="false"
                      placeholder="Code here!"></textarea>
    <br />
{% endblock %}

{% block scripts %}
    <script src="{{ static('js/ibm704sim.js')}}"></script>
    <script src="{{ static('js/base_simulation.js')}}"></script>
    <script src="{{ static('js/general_assembler.js')}}"></script>
{% endblock %}