{% extends "base.jinja2" %}

{% block title %} Computational History {% endblock %}

{% block self %}
    <h1>Welcome to our Simulations</h1>
    <br><br>
{% endblock %}

{% block table %}
    Here are our simulations:
    <div class="list-group">
        <a href="/simulations/assembly_addition" class="list-group-item list-group-item-action">
            <h2>Assembly Addition</h2>
        </a>
        <a href="/simulations/base_simulation" class="list-group-item list-group-item-action">
            <h2>Base Simulation</h2>
        </a>
        <a href="/simulations/general_assembler" class="list-group-item list-group-item-action">
            <h2>General Assembler</h2>
        </a>
    </div>
{% endblock %}