{% extends "base_simulation.jinja2" %}

{% block title %}Looping with TIX{% endblock %}

{% block self %}Looping with TIX{% endblock %}

{% block code %}
    <p class="symbolic_code" id = "symbolic_code0">LXA 5, 1</p>
    <p class="symbolic_code" id = "symbolic_code1">CLA 7</p>
    <p class="symbolic_code" id = "symbolic_code2">ADD 7</p>
    <p class="symbolic_code" id = "symbolic_code3">STO 7</p>
    <p class="symbolic_code" id = "symbolic_code4">TIX 2, 1, 1</p>
    <p class="symbolic_code" id = "symbolic_code5">PZE 5</p>
{% endblock %}
