dh_testers
django==2.1.8 
django_jinja>=2.4.1
google-api-python-client
ipython
jinja2-django-tags
matplotlib
more-itertools
nltk
numpy
oauth2client
pandas
pdf2image
psycopg2==2.8.2
pylint
PyPDF2
requests
scipy
seaborn
selenium
pytesseract
opencv-contrib-python
Pillow
