dh_testers
django>=2.2.8
django_jinja>=2.4.1
google-api-python-client
gunicorn==23.0.0
ipython
jinja2-django-tags
matplotlib
more-itertools
nameparser
nltk
numpy
oauth2client
pandas
pdf2image
psycopg2-binary==2.8.2
pylint
PyPDF2
requests
scipy
seaborn
selenium
sentry-sdk==1.14.0
pytesseract
opencv-contrib-python
Pillow
