table {
    float: right;
    width: 10%;
    text-align: center;
    margin-right: 2%;
    display: table;

}

#visualizations {
    float: left;
    width: 70%;
    margin-right: 2%;
    display: inline;
}
#node_search_form {
    float: left;
    width: 70%;
    margin-right: 2%;
}
