.tooltip-inner {
    white-space: pre-wrap;
}

.tooltip {
  pointer-events: none;
}

.blink {
    color: white;
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

code {
    font-family: Inconsolata, monospace;
}

.padding-5 {
    padding: 5px !important;
}

.code_box {
    resize: none !important;
    line-height: 1;
}

.code_line {
    background-color: white;
}

.next_instruction {
    background-color: deepskyblue;
}

.symbolic_code {
    font-family: Inconsolata, monospace;
    border: 1px black;
}

.line_no_text {
    vertical-align: center;
}

#code {
    font-family: Inconsolata, monospace;
}

#general_memory_div {
    font-family: Acre-Regular, monospace;
}

#other_registers {
    font-family: Acre-Regular, monospace;
}

.number {
    font-family: Inconsolata, monospace;
}

.target_register {
    background-color: #ff0066;
}

.special_highlight {
    background-color: mediumseagreen;
}

#available_operations {
    alignment: center;
    font-family: Inconsolata, monospace;
    text-align: center;
}

#class_buttons {
    text-align: center;
    margin: auto;
}
