code {
    font-family: Inconsolata, monospace;
}

.symbolic_code {
    background-color: white;
    font-family: Inconsolata, monospace;
}

#general_memory_div {
    font-family: Acre-Regular, monospace;
}

#other_registers {
    font-family: Acre-Regular, monospace;
}

.number {
    font-family: Inconsolata, monospace;
}

.next_instruction {
    background-color: deepskyblue;
}

.target_register {
    background-color: #ff0066;
}

.special_highlight {
    background-color: mediumseagreen;
}
