button {
    font-family: Acre-Regular;
}

.general_memory {
    float: left;
    text-align: left;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.tooltip {
  pointer-events: none;
  z-index: 99999999; /* so these show up over introjs */
}

.blink {
    color: white;
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

code {
    font-family: Inconsolata, monospace;
}

.code_box {
    resize: none !important;
    line-height: 1;
}

.symbolic_code {
    font-family: Inconsolata, monospace;
    border: 1px solid black;
    background-color: inherit;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

body {
    scrollbar-color: dark;
}

.code_line {
    flex-wrap: nowrap;
}

#code_heading {
    flex-wrap: nowrap;
}

.next_instruction {
    background-color: deepskyblue;
}

.line_no_text {
    vertical-align: center;
    font-family: Courier, monospace;
}

#code {
    font-family: Inconsolata, monospace;
}

#general_memory_div {
    font-family: Acre-Regular, monospace;
}

#general_memory_div p {
    margin-bottom: .25em;

}

#other_registers {
    font-family: Acre-Regular, monospace;
}

.number {
    font-family: Inconsolata, monospace;
}

.target_register {
    background-color: #ff0066;
}

.special_highlight {
    background-color: mediumseagreen;
}

#available_operations {
    alignment: center;
    font-family: Inconsolata, monospace;
    text-align: center;
}

#class_buttons {
    text-align: center;
    margin: auto;
}

#code_heading {
    text-align: center;
}
