/*
 * Global Text Styles
 */

h1,h2,h3,h4,h5,h6,.navbar {
    font-family: 'Acre-Regular';
}

h1,h2,h3,h4,h5,h6,.navbar-brand {
    text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6,.navbar {
    font-family: 'Acre-Regular';
}

h1,h2,h3,h4,h5,h6,.navbar-brand {
    text-transform: uppercase;
}

h5 {
    text-align: center;
}

.acre {
    font-family: "Acre-Regular";
    text-transform: uppercase;
}


/*
 * Base styles
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #d8d8d8;
    font-family: 'Book Antiqua';
    margin-bottom: 120px; /* Margin bottom = footer height */
    padding-top: 5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-img {
     height: 80px;
     max-height: 10vh;
     max-width: 20vw;
     object-fit: contain;
}


/*
 * Index page 
 */

/* index page special effect typing header */
@media only screen and (min-width: 1200px) {
   .typing {
       font-size: 24px;
        /* Web-safe typewriter-like font */
       overflow: hidden; /* Ensures the content is not revealed until the animation */
       white-space: nowrap; /* Keeps the content on a single line */
       margin: 0 auto; /* Gives that scrolling effect as the typing happens */
       letter-spacing: .05em; /* Adjust as needed */
       animation: typing 5s steps(30, end),
       blinking-cursor .5s step-end infinite;
   }

   /* The typing effect */
   @keyframes typing {
       from {
           width: 0
       }
       to {
           width: 100%
       }
   }

   /* The typewriter cursor effect */
   @keyframes blinking-cursor {
       from, to {
           border-color: transparent
       }
       50% {
           border-color: lawngreen;
       }
   }
}

.story-title {
    font-family: 'Acre-Regular';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}

.story-teaser {
    font-size: .9em;
}

.story-teaser-img {
    width: 100%;
    height: 160px;
    max-height: 33vh;
    object-fit: cover;
}


/*
 * DOCUMENT PAGE
 */

.sidenav{
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #343a40;
    overflow-x: hidden;
    padding-top: 70px;
    color: #eeeeee;
}

@media (max-width: 1000PX) {
    .sidenav {
        position: relative;
        bottom:21%;
        width:100%;
        margin-bottom: 20%;
    }
}

.sim_buttons{
    text-align:center;
}

.team-member.team-member-lg img {
  width: 200px;
  height: 200px;
  border: 7px solid #fff;
}
.team-member.former img {
    width: 80px;
    height: 80px;
    border-width: 3px;
}

@media (min-width: 768px) {
  .team-member {
    margin-bottom: 50px;
  }
  .team-member h4 {
    margin-top: 25px;
  }
  .team-member.former {
    font-size: 90%;
  }
  .team-member.former h4 {
    font-size: 90%;
  }
  .team-member:not(.team-member-lg) img {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
  }
  .team-member.former img {
    width: 100px;
    height: 100px;
    border-width: 4px;
  }

}