html {
    position: relative;
    min-height: 100%;

}


body {
    background-color: bisque;
    font-family: 'Book Antiqua';
    margin-bottom: 120px; /* Margin bottom = footer height */
    padding-top: 5rem;
}

h1,h2,h3,h4,h5,h6,.navbar {
    font-family: 'Acre-Regular';
}

h1,h2,h3,h4,h5,h6,.navbar-brand {
    text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6,.navbar {
    font-family: 'Acre-Regular';
}

h1,h2,h3,h4,h5,h6,.navbar-brand {
    text-transform: uppercase;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-img {
     height: 80px;
     max-height: 10vh;
     max-width: 20vw;
     object-fit: contain;
}

.image-container {
    display:flex;
    flex-wrap: wrap;
    position: relative;
    width: 20%;
    height: 100%;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #000;
}
.image-container:hover .after {
    display: block;
    background: rgb(255, 228, 196, 1);
}


.sidenav{
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #343a40;
    overflow-x: hidden;
    padding-top: 70px;
    color: #eeeeee;
}


@media (max-width: 1000PX) {
    .sidenav {
    position: relative;
    bottom:21%;
    width:100%;
    margin-bottom: 20%;
    }
}


@media only screen and (min-width: 1200px) {
       .typing {
           font-size: 24px;
           font-family: monospace; /* Web-safe typewriter-like font */
           overflow: hidden; /* Ensures the content is not revealed until the animation */
           white-space: nowrap; /* Keeps the content on a single line */
           margin: 0 auto; /* Gives that scrolling effect as the typing happens */
           letter-spacing: .05em; /* Adjust as needed */
           animation: typing 5s steps(30, end),
           blinking-cursor .5s step-end infinite;
       }

       /* The typing effect */
       @keyframes typing {
           from {
               width: 0
           }
           to {
               width: 100%
           }
       }

       /* The typewriter cursor effect */
       @keyframes blinking-cursor {
           from, to {
               border-color: transparent
           }
           50% {
               border-color: lawngreen;
           }
       }
}

#whirlwind {
    height: 200px;
    width: 300px;
}