html, body {
  margin: 0;
  height: 100%;
}

.grid{
    stroke: black;
    stroke-width: 1px;
    fill: red;
}
.arc{
    stroke: black;
    fill: none;
}
.node{
    fill: lightgray;
    stroke: black;
    stroke-width: 1px;
}
circle.active{
    fill: red;
}
path.active{
    stroke: red;
}