{% extends "base.jinja2" %}

{% block title %} Page {% endblock %}

{% block header %}

    <h1>You're looking at {{ page_obj }}</h1>

{% endblock %}

{% block table %}

    {% if png_url_amz %}
    <img src="{{ png_url_amz }}" height="600">
    {% endif %}
    <br>
    Go to <a href="/archives/doc/{{ document_obj.pk }}">{{ document_obj }}</a>
    {% if document_obj.number_of_pages > 1%}
        {% if previous_page %}
            <br>
            <a href="/archives/page/{{ previous_page.pk }}">Previous Page</a>
        {% endif %}
        {%  if next_page %}
            <br>
            <a href="/archives/page/{{ next_page.pk }}">Next Page</a>
        {% endif %}
    {% endif %}

{% endblock %}