<!DOCTYPE html>
<html lang="en">
<head>
    <!-- bootstrap styling -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    {% block self %}
    {% endblock %}

    <!-- table of related values -->
    <div align="center">
    {% block table %}
    {% endblock %}
    </div>

        <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>