
{% extends "base.html" %}

{% block title %} Box {% endblock %}

{% block self %}
{% endblock %}

{% block table %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Folder Name</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
  {% for item in folder_objs %}
    <tr>
      <th scope="row">{{ forloop.counter }} </th>
      <td>{{item.full}}</td>
        <td><a href = "/dj_comp_hist/folder/{{item.pk}}">Link</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}
