{% extends "base.jinja2" %}

{% block title %} {{ doc_obj }} {% endblock %}

{% block self %}

    <h1>{{ doc_obj }}</h1>

{% endblock %}

{% block table %}

    {% if author_person_objs or author_organization_objs %}

        <br>
        {% if author_person_objs %}
            <table class="table">
                <thead class="thead-dark">
                <!--first row-->
                <tr>
                    <th scope="col">Written by:</th>
                    <th scope="col">Recieved by:</th>
                    <th scope="col">CC'ed to:</th>
                </tr>
                </thead>
                <tbody>
                <!--second row. Contains author 1, recipient 1, cc'ed 1-->
                <!--author-->
                {% for item in author_person_objs %}
                    <tr>
                        <td style ="text-align: center"><a href="/dj_comp_hist/person/{{ item.pk }}">{{ item }}</a></td>
                        <td>
                            {%if recipient_person_objs or  recipient_organization_objs%}
                                {% if recipient_person_objs %}
                                    {% for item in recipient_person_objs %}

                                            <a href="/dj_comp_hist/person/{{ item.pk }}">{{ item }}</a>

                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <!--recipient-->

    {% endif %}
                </tbody>
            </table>

        <br>
        {% if author_organization_objs %}
            <table class="table">
                <thead class="thead-dark">
                <tr>

                    <th scope="col">Written by:</th>
                    <th scope="col">Recieved by:</th>
                    <th scope="col">CC'ed to:</th>

                </tr>
                </thead>
                <tbody>
                {% for item in author_organization_objs %}
                    <tr>
                        <th scope="row">{{ loop.index }} </th>
                        <td>{{ item }}</td>
                        <td><a href="/dj_comp_hist/organization/{{ item.pk }}">{{ item }}</a></td>
                    </tr>
                {% endfor %}
                    <tr>

                    </tr>

                </tbody>
            </table>
        {% endif %}
        <br>
    {% endif %}

    {% if recipient_person_objs or  recipient_organization_objs%}
        <h3>{{ doc_obj }} was received by</h3>
        <br>
        {% if recipient_person_objs %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Recipient Name</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                {% for item in recipient_person_objs %}
                    <tr>
                        <th scope="row">{{ loop.index }} </th>
                        <td>{{ item }}</td>
                        <td><a href="/dj_comp_hist/person/{{ item.pk }}">Link</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br>
        {% if recipient_organization_objs %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Recipient Organization</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                {% for item in recipient_organization_objs %}
                    <tr>
                        <th scope="row">{{ loop.index }} </th>
                        <td>{{ item }}</td>
                        <td><a href="/dj_comp_hist/organization/{{ item.pk }}">Link</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br>
    {% endif %}

    {% if cced_person_objs or cced_organization_objs != 0 %}
        <h3>{{ doc_obj }} was cced to</h3>
        <br>
        {% if cced_person_objs %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">CC'ed Name</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cced_person_objs %}
                    <tr>
                        <th scope="row">{{ loop.index }} </th>
                        <td>{{ item }}</td>
                        <td><a href="/dj_comp_hist/person/{{ item.pk }}">Link</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br>
        {% if cced_organization_objs %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">CC'ed Organization</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cced_organization_objs %}
                    <tr>
                        <th scope="row">{{ loop.index }} </th>
                        <td>{{ item }}</td>
                        <td><a href="/dj_comp_hist/organization/{{ item.pk }}">Link</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br>
    {% endif %}

    {% if page_objs %}
        <h3>{{ doc_obj }} has {{ len(page_objs) }} page(s)</h3>
        <table class="table">
               <thead class="thead-dark">
               <tr>
                   <th scope="col">Page number</th>
                   <th scope="col">Link</th>
               </tr>
               </thead>
                <tbody>
                {% for page in page_objs %}
                    <tr>
                        <th scope="row">{{ page.page_number }}</th>
                        <td><a href="/dj_comp_hist/page/{{ page.pk }}">Link</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    {% endif %}

{% endblock %}