
<head>
    <style>
        .sidenav{
            height: 100%;
            width: 12%;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: aliceblue;
            overflow-x: hidden;
            padding-top: 20px;
        }

        @media (max-width: 950px) {
            .sidenav {
                position: relative;
                bottom:21%;
                width:100%;
                margin-bottom: 20%;
            }
}
    </style>
</head>
{% extends "base.jinja2" %}

{% block title %} {{ doc_obj }} {% endblock %}

{% block self %}

    <h1>{{ doc_obj }}</h1>

{% endblock %}

{% block table %}
    <div class="container mt-3 flex-wrap">
      <div class="d-flex mb-3 flex-wrap">
        <div class="p-2 flex-fill ">
            <iframe src=https:/s3.amazonaws.com/comp-hist/docs/1_2_project_proposal_contract/docs/35/1_2_project_proposal_contract_35.pdf
                    width="88%" height="100%" >
            </iframe>
        </div>
        <div class="sidenav">
                 <p>made on date:</p>
                 <table class="table">
                     <tbody>
                        <tr>Made on date {{ doc_obj.date}}</tr>
                     </tbody>
                 </table>





            
            {% if author_person_objs or author_organization_objs %}
            <p>Written by:</p>
            {% if author_person_objs %}
                <table class="table">

                    <tbody>
                    {% for item in author_person_objs %}

                        <tr>
                            <td><a href="/dj_comp_hist/person/{{ item.pk }}">{{ item }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if author_organization_objs %}
                <table class="table">

                    <tbody>
                    {% for item in author_organization_objs %}
                        <tr>
                            <td><a href="/dj_comp_hist/organization/{{ item.pk }}">{{ item }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        {% endif %}

        {% if recipient_person_objs or  recipient_organization_objs%}
            <p>Recipient</p>
            {% if recipient_person_objs %}
                <table class="table">

                    <tbody>
                    {% for item in recipient_person_objs %}
                        <tr>

                            <td><a href="/dj_comp_hist/person/{{ item.pk }}">{{ item }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
               </table>
            {% endif %}

           {% if recipient_organization_objs %}
                <table class="table">
                    <tbody>
                    {% for item in recipient_organization_objs %}
                        <tr>


                          <td><a href="/dj_comp_hist/organization/{{ item.pk }}">{{ item }}</a></td>
                         </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        {% endif %}

        {% if cced_person_objs or cced_organization_objs %}
            <p>Cced to</p>

            {% if cced_person_objs %}
                <table class="table">

                    <tbody>
                    {% for item in cced_person_objs %}
                        <tr>


                           <td><a href="/dj_comp_hist/person/{{ item.pk }}">{{ item }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

             {% if cced_organization_objs %}
                <table class="table">

                    <tbody>
                    {% for item in cced_organization_objs %}
                        <tr>


                            <td><a href="/dj_comp_hist/organization/{{ item.pk }}">{{ item }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                 </table>
            {% endif %}

        {% endif %}

        {% if page_objs %}
            <p>{{ len(page_objs) }} page(s)</p>
            <table class="table">

                    <tbody>
                    {% for page in page_objs %}
                        <tr>

                            <td><a href="/dj_comp_hist/page/{{ page.pk }}">{{ page.page_number}}</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
             </table>
        {% endif %}

          </div>
          </div>
        </div>

{% endblock %}