
{% extends "base.html" %}

{% block title %} Folder {% endblock %}

{% block self %}
<h1>You're looking at folder: {{folder_obj.full}}</h1>
<h2>Folder number {{folder_obj.number}}</h2>
{% endblock %}

{% block table %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Document Name</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
  {% for item in document_objs %}
    <tr>
      <th scope="row">{{ forloop.counter }} </th>
      <td>{{item}}</td>
        <td><a href = "/dj_comp_hist/doc/{{item.pk}}">Link</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
