<!--This is the base page. I want to take the links to the data off of this page and create a data tab that will
bring people to a webpage that looks like this one currently does. I'm thinking of taking the other tabs off and
having them all exist under browse. Then, I'd put tabs for other parts of the project, such as the simulations. I
don't know how to make a new page or change the way these links are set up, though-->
<!DOCTYPE html>
<html>
<head>
{#    <link rel="stylesheet" href="Homepage_design.css">#}
    <style>
    h1 {
       font-family: monospace; /* Web-safe typewriter-like font */
       overflow: hidden; /* Ensures the content is not revealed until the animation */
       border-right: .15em solid blue; /* The typwriter cursor */
       white-space: nowrap; /* Keeps the content on a single line */
       margin: 0 auto; /* Gives that scrolling effect as the typing happens */
       letter-spacing: .05em; /* Adjust as needed */
       animation:
           typing 2s steps(30, end),
           blinking-cursor .5s step-end infinite;
   }

   /* The typing effect */
   @keyframes typing {
       from { width: 0 }
       to { width: 100% }
   }

   /* The typewriter cursor effect */
   @keyframes blinking-cursor {
       from, to { border-color: transparent }
       50% { border-color: lawngreen; }
   }
   </style>

{#    <link href={% static 'computation_hist/djweb?Static/Homepage_design.css' %} rel="stylesheet" type="text/css" />#}
</head>

{% extends "base.jinja2" %}


    {% block title %} Home Page {% endblock %}
    <body>
    {% block self %}

        <h1><tt>Welcome to the Archives of the MIT Computation Center.</tt></h1>



    {% endblock %}
    </body>
</html>
