{% extends "base.jinja2" %}

{% block title %} Index {% endblock %}

{% block self %}

{% endblock %}

{% block table %}

<h1>Hello, world. You're at Computation History project.</h1>

<a href = "/dj_comp_hist/list/person">People</a>
<br>
<a href = "/dj_comp_hist/list/folder">Folders</a>
<br>
<a href = "/dj_comp_hist/list/organization">Organizations</a>
<br>
<a href = "/dj_comp_hist/list/box">Boxes</a>
{% endblock %}

</body>
</html>