{% extends "base.jinja2" %}

{% block title %}

    {% if model_str == 'organization' %}
        Organizations
    {% elif model_str == 'person'%}
        People
    {% elif model_str == 'folder' %}
        Folders
    {% elif model_str == 'box' %}
        Boxes
    {% endif %}


{% endblock %}

{% block self %}
    <h1>You're looking at every {{ model_str }}</h1>
{% endblock %}

<div class="flex-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>

{% block table %}
    <br>

    {% for item in model_objs %}
        <div class="list-group">
            <a href="/dj_comp_hist/{{ model_str }}/{{ item.pk }}"
               class="list-group-item list-group-item-action">
                {{ item }}
            </a>
        </div>
    {% endfor %}

{% endblock %}
