{% extends "base.jinja2" %}

{% block title %} Page {% endblock %}

{% block self %}

    <h1>You're looking at {{ page_obj }}</h1>

{% endblock %}

{% block table %}

    {% if page_obj.image_path %}
    <img src= '{{ page_obj.image_path.url }}' height="600">
    {% endif %}
    <br>
    Go to <a href="/dj_comp_hist/doc/{{ document_obj.pk }}">{{ document_obj }}</a>

{% endblock %}