{% extends "base.jinja2" %}

{% block title %}Advanced Search{% endblock %}

{% block self %}
    <style>
        a.anchor{
            top:-55px;
            display:block;
            position:relative;
            visibility:hidden
        }
    </style>
{% endblock %}

{%  block table %}
    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
    </div>
    <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-12 col-sm-offset-4">
        Look for documents in boxes (check all if unsure):
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkBox1"
                   name="checkBox1" value=1 checked>
            <label class="form-check-label" for="checkBox1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkBox2"
                   name="checkBox2" value=2 checked>
            <label class="form-check-label" for="checkBox2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkBox3"
                   name="checkBox3" value=3 checked>
            <label class="form-check-label" for="checkBox3">3</label>
        </div>
    <br>
        <label for="inputAuthor" class="col-sm-10 col-form-label">Authored by: (leave blank
            if unsure)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="author" id="inputAuthor">
        </div>
        <label for="inputReceiver" class="col-sm-10 col-form-label">Received by: (leave blank
            if unsure)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="receiver" id="inputReceiver">
        </div>
    <br>
        <div class="form-group">
            <label for="multipleSelect">
                Document Type, if known (select unknown if not):
                <br>
                CTRL + click for Windows, Command + click for Mac
            </label>
            <select multiple="multiple" class="form-control" id="multipleSelect" name="doc_type">
                <option>unknown</option>
                {% for type in doc_type %}
                    <option>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
    <br>
        Filter by number of pages: <input name="minPages" type="text" value="1" id="minPages"
                                          style="width:25px">  to <input name="maxPages"
                                                                         id="maxPages"
                                                                         style="width:25px"
                                                                         type="text"  value="30">
    <br>
        Filter by year: <input name="minYear" type="text" value="1945" id="minYear"
                                          style="width:50px"> to <input name="maxYear" type="text"
                                                                        id="maxYear"
                                                                        value="1970"
                                                                        style="width:50px">
    <br><br>
        <button type="button" id="button" class="btn btn-primary">Submit</button>
    </div>
    </div>
    <br>
{%  endblock %}

{%  block footer %}
    <script>
    document.getElementById('button').onclick = function() {
        var multiSelect = $('#multipleSelect').val();
        var url = "/dj_comp_hist/advanced_search/?";
        if (document.getElementById('checkBox1').checked){
            url += "checkBox1=1&";
        }
        if (document.getElementById('checkBox2').checked){
            url += "checkBox2=2&";
        }
        if (document.getElementById('checkBox3').checked){
            url += "checkBox3=3&";
        }
        url += "author=" + $('#inputAuthor').val() + "&";
        url += "receiver=" + $('#inputReceiver').val() + "&";
        url += "doc_type=" + multiSelect.toString() + "&";
        url += "minPages=" + $('#minPages').val() + "&";
        url += "maxPages=" + $('#maxPages').val() + "&";
        url += "minYear=" + $('#minYear').val() + "&";
        url += "maxYear=" + $('#maxYear').val();
        window.location.href = url;
        return;}
    </script>
{%  endblock %}