{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
    Behind the Scenes
{% endblock %}

{% block story_teaser %}
    We are truly proud to say that the MIT Digital Humanities Programs have digitized and contextualized the majority of
    archived documents relating to the history of the MIT Computation Center from the 1950s and early 1960s.
{% endblock %}
