{% extends 'archives/story.jinja2' %}

{% block story_title %}
Behind the Scenes
{% endblock %}

{% block story_credit %}
what should i put?
{% endblock %}

{% block story_teaser %}
    We are truly proud to say that the MIT Digital Humanities Programs have digitized and contextualized the majority of
    archived documents relating to the history of the MIT Computation Center from the 1950s and early 1960s.
{% endblock %}

{% block story_body %}

<p> The Archival History of Computing Project began in November, 2018 with a cohort of MIT undergraduate students
    under the mentor-ship of the Digital Humanities program at MIT. With 150 years of archival history,
    <a href="https://libraries.mit.edu/archives/"> the MIT Libraries Archives and Special Collections </a> played a
    crucial role in our project by allowing us to utilize their documents and scan them.
</p>
<p> Overall, our project was divided into five stages. During the first stage, we scanned documents. Simultaneously, we
    inputted metadata that described them: box number, folder number, folder name, author, title, data, type, start
    page, last page, recipients, cced, the organizations that the people in this document were a part of, and notes.
    After this stage, we not only gained a database but also  a better view about what exactly the history of
    computation was. This allowed us to proceed to the next stage. At the beginning of this stage, we focused on
    attaining a better glimpse of the history of computation  by reading articles and researching.  At the end, we
    outlined our goal, mission, and what we wanted our user to experience, learn, and gain from our project. Even with
    this large database, we found that it will, during that time, be difficult to highlight the crucial role of women in
    the history of computation because they worked in the background and generally were not highlighted in the
    documents. Did you know that in [percentage in article +date] were women? We took this challenge and embedded it
    into our goal. We wanted to give credit to every person who contributed to the history of computation- a field so
    dominant today. In the third stage, we were focused on the backend and frontend of the website. Also, we developed a
    user interface and coded our platform. In the fourth stage, we used our website to analyze our information in order
    to write stories and create data visualizations. In the fifth stage, we completed our mission.
</p>
<p>The success of the project is attributed to collaboration. Within the lab, every person had an assigned position, but
    most of the time people worked on tasks in different areas. This allowed for people to gain more knowledge and to
    use it on the assignment they plan to do next. Outside the lab, we are particularly grateful for the collaboration
    with  ____.
</p>
<p> We are truly proud to say that the MIT Digital Humanities Programs have digitized and contextualized the majority of
    archived documents relating to the history of the MIT Computation Center from the 1950s and early 1960s. We
    encourage individuals to expand and improve our project to educate the people of the world:
    <a href="https://github.com/dhmit/computation_hist"> open-source code </a>.

    picture!
</p>
{% endblock %}