{% extends 'archives/story.jinja2' %}

{% block story_title %}
Announcement of the IBM 704
{% endblock %}

{% block story_credit %}
Alan Abreu
{% endblock %}

{% block story_teaser %}
In December of 1955, MIT and IBM collaborated in a joint press release to announce that the
    university would be receiving its own IBM 704 computer. This new device was very advanced for
    its time, and would significantly impact many fields of study.
{% endblock %}

{% block story_body %}
<p>December 11th, 1955 was an important day for the rising significance of computers.
    <a class="story_in_text_link" href="/archives/person/james-r-killian">Dr.
        James R. Killian Jr.</a>, president of MIT,
    and <a class="story_in_text_link" href="/archives/person/thomas-j-watson">Thomas
        J. Watson Jr.</a>, president of IBM, collaborated in
    a <a class="story_in_text_link" href="/archives/doc/1_9_cc_proposal_history_1" > joint
        announcement to the
    press</a>
    that MIT would be installing the IBM Type 704 Electronic Data Processing Machine. This
    computer, the latest of the "electronic brains," as the press release called it, was to be
    installed in early 1957 at the Karl Taylor Compton Memorial Laboratories,
    directed by <a class="story_in_text_link" href="/archives/person/philip-m-morse">Dr. Philip M.
    Morse</a>. The IBM 704
    was a revolutionary computer for its time, being much faster than previous models and the first
    with the capability to calculate floating-point (non-integer number) operations. Computers
    during this time were rare, and not many
    universities had their own. The computer was a donation from IBM, and weighed nearly
    20,000 lbs. While today, a school receiving a new computer would not seem to be a very
    exciting matter, during this time, such an event was certainly news worthy.</p>

<figure class="figure float-right">
    <img src="{{ static('img/stories/announcement_of_the_IBM_704.jpg') }}"
         class="class="figure-img img-fluid rounded"
         alt="Announcement of the IBM 704" />
    <figcaption class="figure-caption">A real IBM 704 with some of its many components.</figcaption>
</figure>

<p>MIT boasted in its press release, claiming that with a large staff of over 30 people, this new
    asset to their computation center would make it “the largest and most versatile data
    processing facility yet to be made available primarily for education and basic research.” It
    could perform 40,000 addition/subtraction operations or 5,000 multiplication/division
    operations of 10-digit numbers in just one second. It also had a highly advanced method of
    memory storage, called magnetic core storage. Thousands of pinhead-sized magnetic cores would
    be strung around within the IBM to allow for high-speed memory to perform its high-speed
    operations. The computer was expected to significantly impact many fields of study, including
    aerodynamics, industrial management, meteorology, and particle physics. MIT invited
    other <a class="story_in_text_link" href="/archives/doc/2_10_bullock_17">universities and colleges in New
        England</a> to come and use their IBM 704 to facilitate their own research.</p>

<p>MIT's IBM 704 was not a notable moment in computation history just because the computer
    was advanced for it's time. It's shared use eventually led to other schools getting their
    own 704, which was the beginning of a great spread of these computers which facilitated
    research all across the nation.</p>

<p> Did the press release pique your interest in working at the cutting edge of computing
    in the 1950s? You can find out more about the necessary qualifications
    <a class="story_in_text_link" href="/archives/story/qualifications_for_programmer">here.</a>
</p>

{% endblock %}

