{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Announcement of the IBM 704
{% endblock %}

{% block story_teaser %}
In December of 1955, MIT and IBM collaborated in a joint press release to announce that the university would be receiving its own IBM 704 computer. This new device was very advanced for its time, and would significantly impact many fields of study.
{% endblock %}

