{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Announcement of the IBM 704
{% endblock %}

{% block story_teaser %}
Short summary of story
{% endblock %}

{% block story_body %}
<p>Here is the full story, which should be about 200-500 words. This is a sentence in the story. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis posuere erat, et ornare nisl. Maecenas id sem at sem euismod fermentum eu at lorem. Proin felis nibh, volutpat at neque non, finibus egestas lectus. Nullam nec commodo erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed non imperdiet neque. Integer tincidunt eget lacus eget porttitor. Mauris est nulla, fermentum non odio a, efficitur iaculis tortor. Nam orci ligula, luctus a ultricies id, tincidunt et tortor. Etiam pellentesque erat libero, vel blandit tortor maximus vel. Morbi suscipit, nibh ut efficitur interdum, dolor magna elementum arcu, in eleifend sem ipsum et nisi. Sed aliquam odio mi, ut porta nisl egestas non. Nullam leo tortor, euismod et euismod at, posuere ac turpis. Etiam egestas nisl justo, eget egestas ligula laoreet nec.</p>
{% endblock %}