{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Beginnings of CS at MIT
{% endblock %}

{% block story_teaser %}
Today, Electrical Engineering and Computer Science is the biggest department at MIT, and the CS portion makes up
the majority of it. To many, it would seem like this has always been the way of MIT, but that was not the case.
CS at MIT is a rather recent development that had humble beginnings.

{% endblock %}