{% extends 'archives/story.jinja2' %}

{% block story_title %}
Beginnings of CS at MIT
{% endblock %}

{% block story_credit %}
Mayowa Songonuga
{% endblock %}


{% block story_body %}
    <p>
        Today, Computer Science is the most popular course at MIT. As of 2018, approximately
        <a href="https://registrar.mit.edu/stats-reports/majors-count/2017-2018">38.5%</a> of declared students had
        primary majors in some form of computer science. (including joint majors such as Computer Science and Molecular
        Biology). MIT is one of the top institutions in the field, and it’s interesting to think that the transition to a
        Computer Science powerhouse happened so recently. In 1954, Frank Verzuh and C. W. Adams had to write a
        <a href="/archives/doc/2_14_cc_conferences_reports_rough_drafts_1"> proposal</a>
        and fight for computer training to be included in the undergraduate curriculum. It wasn’t until 1975 that the
        Department of Electrical Engineering was renamed to the Department of Electrical Engineering and Computer
        Science (a.k.a. course 6). That same year, MIT gave out its first undergraduate Computer Science degree.
    </p>


<figure class="figure float-right teaser-img col-md-6">
    <img src="{{ static('img/stories/beginnings_of_cs_at_mit.png') }}"
         class="figure-img img-fluid"
         alt="A map of MIT in 1905, back when the campus was still in Boston. The Lowell building (home to Course 6) is circled." />
    <figcaption class="figure-caption">Map of MIT in 1905. The Lowell building (then home to Course 6) is circled.</figcaption>
</figure>

<p>
    The <a href="/archives/doc/1_9_cc_proposal_history_1">first high-speed computer</a> was installed at MIT in early
    1957. Before that, MIT had other, less advanced machinery
    that was used in the classroom setting. Computer Science at MIT started as just a few classes, notably 6.535 and
    6.536, Coding for Digital Machines and Coding for Analog Machines. By June of 1954, automatic computation, as it was
    called then, had spread to many different departments, including Mechanical, Chemical, and Aeronautical Engineering,
    Physics, and Mathematics. These departments all offered classes that utilized automatic computing in some way, but
    there were also eleven classes directly related to the emerging field. Of these eleven, ten were graduate electives,
    and the last was a senior elective. 6.535 evolved to  Introduction to Computer Coding and Logic and 6.536 to Machine
    Computation. Other classes included M411, Numerical Analysis, and 6.568, Switching Circuits.

</p>

<p>
   Currently, there are over <a href="http://catalog.mit.edu/subjects/6/">300 classes offered by the course 6 department</a>
    alone, not including all of the classes
    involving computation that are offered in other departments. It’s impossible to be an MIT student without access to
    a computer, something that couldn’t have been predicted back in the early days of the computer. Back then, things
    were very different, even down to the academic structure of MIT. The reason MIT has courses instead of majors is
    that every student’s course map was predecided based on what degree program they applied to. If you applied to MIT
    for electrical engineering and were accepted, then, when you got on campus, you were told exactly what classes you
    were going to take which semester and given very little room for elective choice. Each department literally had a
    course planned out for their students. Now, you no longer have to declare your major before arriving on campus. You
    have until the end of sophomore year to do it, and even within the departments, there is a lot of flexibility in
    terms of what classes you can take to fulfill requirements and when.
     
</p>

    <p><a href="/archives/doc/1_9_cc_proposal_history_24">Click here to see the list of computer science related classes in 1954</a></p>
    <p><a href="http://catalog.mit.edu/subjects/6/">Click here to see a current list of classes offered in course 6</a></p>
    <p><a href="https://dome.mit.edu/handle/1721.3/82788">Click here to explore old course catalogs from MIT.</a></p>
{% endblock %}








