{% extends 'archives/story.jinja2' %}

{% block story_title %}
Digital Humanities: A Precursor
{% endblock %}

{% block story_teaser %}
A time without digital humanities is better known as a time without computers. Even at its
    earliest, when the hours of computation were meticulously counted and rationed, the
    investment of technology in humanism thrived.
{% endblock %}

{% block story_body %}
<p> Depending on how aware one is regarding the early perils of debugging (link to Mingfei's),
    it's not difficult to understand exactly how valuable even a single hour on a computer was for
    researchers at the time.
    $8,000
    for 60
    hours. (pg
    17-18) (pg
    49-58)</p>

<figure class="figure float-right">
    <img src="{{ static('img/stories/sample_story.jpg') }}"
         class="class="figure-img img-fluid rounded"
         alt="A cat operating a computing device" />
    <figcaption class="figure-caption">Cats love computers.</figcaption>
</figure>

<p>Cras nec pulvinar velit. Sed sollicitudin mauris euismod lacus porta maximus. Pellentesque consequat blandit lacus sed mollis. Cras vel ullamcorper ligula. Nullam in dolor magna. Vivamus et sapien sit amet arcu venenatis semper non non nulla. Quisque vel est vel mauris placerat dictum. Cras malesuada elementum turpis, sed pharetra nibh ullamcorper ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam aliquet id nunc sed hendrerit. Nullam gravida urna arcu, in sollicitudin lectus bibendum eu.</p>

<p>Etiam vehicula laoreet mi a varius. Fusce consequat est in sem aliquet, eu feugiat eros consequat. Pellentesque tristique nibh ante, vitae aliquet dolor ornare quis. Cras consequat, ex quis feugiat blandit, nunc turpis euismod diam, nec molestie augue erat at augue. Mauris eu varius arcu, vel sodales arcu. Suspendisse a rhoncus dui. Morbi egestas ipsum ex, eu bibendum nibh dignissim sit amet. Nunc mollis dolor in enim convallis, non euismod eros porta. Nullam vulputate sit amet quam vel pellentesque. Etiam tempor nibh sapien, quis mollis.</p>
{% endblock %}
