{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Digital Humanities: An Enduring Legacy
{% endblock %}

{% block story_teaser %}
A time without digital humanities is a time long before commercial computers.
    Even at its earliest, when the hours of computation were meticulously counted and rationed, the
    investment of technology in the humanities thrived.
{% endblock %}