{% extends 'archives/story.jinja2' %}

{% block story_title %}
Digital Humanities: an Enduring Legacy
{% endblock %}

{% block story_teaser %}
A time without digital humanities is a time long before commercial computers.
    Even at its earliest, when the hours of computation were meticulously counted and rationed, the
    investment of technology in the humanities thrived.
{% endblock %}

{% block story_body %}
    <p> Depending on how aware one is regarding the early <a href="/archives/story/debugging">perils of debugging</a>,
    it's not difficult to understand exactly how valuable even a single hour on a computer was for
    researchers at the time of the MIT Computation Center Archives. At a time when computers were
        the answer to integrals humanly impossible to compute, even an hour was worth over a thousand dollars
        in 1956 (that's around $12,000 today!). The great expense of using a computer was further
        compounded by scarcity of time. Thus, the continued investment of computers in social and
        human studies, from the 1930s until today, spoke volumes about the values of people of
        the time.
    </p>

    <p>Because of limited computational resources, projects needed to be thoughtfully done and
        formally conceived before scholars even had access to the machines. Beyond that, however,
        mathematical inquiries and social investigations were weighted the same, as leaders in
        the field of computation understood the inherent worth behind both. In 1957 in
        particular, Director Philip M. Morse kept up an extended correspondence with the Social
        Science Research Council expressing his interest in the usage of the "high speed digital
        computor[sic] for social science research" (Pendleton, <a href="/archives/doc/2_3_morse_correspondence_m_z_45">source</a>). Morse
        himself had noted that the "social sciences are an extremely promising field for machine
        utilization." (<a href="/archives/doc/2_3_morse_correspondence_m_z_46">source</a>)</p>

    <p>Today, the idea of Digital Humanities is sometimes thought of as something new. But in
        actuality, what we see is not a deviation from the "typical" uses of
        computers in the hard sciences, but a <i>return</i> to the traditional uses of computers,
        all the way back in the 1950s. The investment of technology in humanism had seemed just
        as significant then as it does now, at an age when the promise of artificial intelligence
        is at the forefront of human technological advancement.
    </p>

    <ul>
        <li>See also: A proposal for using M.I.T. computers to create a
            <a href="/archives/doc/1_21_cc_misc1_4">concordance to the works of John Calvin.</a></li>
    </ul>
{% endblock %}
