{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Important Computing Events from 1930-1963
{% endblock %}

{% block story_teaser %}
    A sampling of notable events in early computation.
{% endblock %}
