{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Important Computing Events from the 1930s
{% endblock %}

{% block story_teaser %}
    A sampling of notable events in early computation.
{% endblock %}

