{% extends 'archives/story.jinja2' %}

{% block story_title %}
Important Computing Events from the 1930s
{% endblock %}

{% block story_credit %}
Maritza Gallegos
{% endblock %}

{% block story_body %}

<div class="row">
    <div class="col-sm-6">
        <figure class="figure">
            <img src="{{ static('img/stories/computational_history_1930-1934.jpg') }}"
                 class="figure-img img-fluid"
                 alt="Map of Germany and Belgium" />
        </figure>
    </div>
    <div class="col-sm-6">
        <h1>1930-1934</h1>
        <p>Germany, 1933- The first automatic public telex system was trial run by the German Reich mail system with the help of the Siemens company.</p>
        <p>Green Dot - Cinquantenaire Palace, Brussels, Belgium, 1934- Paul Otlet publishes Traité de
        Documentation, proposing remote data access to his and Henri La Fontaine's Mundaneum though telephones and televisions globally. The Mundaneum was a global library museum housed in Cinquantenaire Park, which was shut down in 1934 and then removed by the Germans during their invasion of Belgium in 1940.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <figure class="figure">
            <img src="{{ static('img/stories/computational_history_1937.jpg') }}"
                 class="figure-img img-fluid"
                 alt="Map of United States" />
        </figure>
    </div>
    <div class="col-sm-6">
        <h1>1937</h1>
        <p>Red dot - New York City, United States, 1937- George Stibitz proved that boolean logic could
           be used in computers through his Model "K" Adder circuit, which utilized electromechanical relays.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <figure class="figure">
            <img src="{{ static('img/stories/computational_history_1938.jpg') }}"
                 class="figure-img img-fluid"
                 alt="Map of Germany" />
        </figure>
    </div>
    <div class="col-sm-6">
        <h1>1938</h1>
        <p>Blue dot - Berlin, Germany, 1938- Konrad Zuse finishes the Z1 computer, the first computer in
            the world. The Z1 operated on Boolean logic. This prototype, along with Z2 and Z3, was destroyed during WWII.</p>
        <p>Red dot - Mansfield, United States, 1938- Elektro, a smoking, walking, and talking robot, is
            finished in Ohio by Westinghouse. Elektro was voice controlled, although the voice commands were understood by their rhythm- the robot did not understand their meaning. Elektro was demonstrated in the 1939 World's Fair in New York with great success.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <figure class="figure">
            <img src="{{ static('img/stories/computational_history_1939.jpg') }}"
                 class="figure-img img-fluid"
                 alt="Map of Germany and the United States" />
        </figure>
    </div>
    <div class="col-sm-6">
        <h1>1939</h1>
        <p>Blue dot - Berlin, Germany, 1939- Konrad Zuse develops the Z2. This computer was relay-based
            as an improvement on the Z1, which did not work very well. It was almost done in 1939, but it was delayed to 1940 due to Zuse being required to join the army.</p>
        <p>Red dot - New York City, United States, 1939- George Stibitz produces the Model I Complex
            Calculator, the first electrical digital computer. It built on the boolean logic circuits
            Stibitz created. This computer utilized telephone switches and electromechanical relays.</p>

    </div>
</div>


    <p></p>
    <div class="text-center">
<h1>Sources</h1>
    </div>
    <h2>Information</h2>
<p><a href="https://www.computerhistory.org/">Computer History Museum</a></p>
<p><a href="https://new.siemens.com/global/en/company/about/history/technology/information-and
-communications-technology/telegraphy-and-telex.html">Siemens Telegraphy and Telex</a></p>
<p><a href="https://www.britannica.com/biography/Paul-Otlet">Britannica Paul Otlet</a></p>
<p><a href="https://daily.jstor.org/internet-before-internet-paul-otlet">JSTOR Paul Otlet</a></p>
<p><a href="https://www.bell-labs.com/timeline/#/1930/1/open/">Bell Labs Timeline</a></p>
<p><a href="https://sdtb.de/technikmuseum/ausstellungen/95/">German Museum of Technology</a></p>
<p><a href="https://www.clps.ugent.be/sites/default/files/publications/dissertation.pdf">Tracing Unsolvability: A Mathematical, Historical and Philosophical analysis with a special focus on Tag Systems
</a></p>
<p><a href="https://spectrum.ieee.org/tech-history/dawn-of-electronics/elektro-the-motoman-had
-the-biggest-brain-at-the-1939-worlds-fair">Spectrum IEEE Elektro</a></p>

    <p></p>
    <h2>Map Data</h2>
    <p>Hubatsch, W. and T. Klein (eds.) 1975 ff.: Grundriß der deutschen
Verwaltungsgeschichte – Marburg.</p>
    <p>MPIDR [Max Planck Institute for Demographic Research] and CGG [Chair for
Geodesy and Geoinformatics, University of Rostock] 2011: MPIDR Population
History GIS Collection (partly based on Hubatsch and Klein 1975 ff.) – Rostock. </p>
    <p>World Borders data provided by Bjorn Sandvich at
        <a href="http://thematicmapping.org/downloads/world_borders.php">Thematic Mapping</a> and was originally downloaded from
        <a href="http://www.mappinghacks.com/data/">Mapping Hacks</a>. It was derived by Schuyler Eric and
        enhanced by Sean Gilles. The original data is protected by a
        <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">Creative Commons Attribution-Share Alike License</a>.</p>
    <p></p>
    <p>Disclaimer: Germany's borders are debatable in some of the maps due to the areas it
        invaded and annexed prior to World War II.</p>


{% endblock %}


