{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Computing in the 1930s - A Geospatial Timeline
{% endblock %}

{% block story_teaser %}
A tour and timeline of notable events in the early history of computation.
{% endblock %}

