{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
A Brief Journey Inside the IBM 704
{% endblock %}

{% block story_teaser %} 
There was once a time when the Massachusetts Institute of Technology didn't have any computers. Check out this story to learn about the huge primitive beast that changed MIT.
{% endblock %}

