{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Computation on Campus
{% endblock %}

{% block story_teaser %}
MIT's campus has been transformed in the last half century, but
    physical traces of the computation revolutions of the 1950s
    and '60s remain.
{% endblock %}
