{% extends 'archives/story.jinja2' %}

{% block story_title %}
Beginnings of CS at MIT
{% endblock %}

{% block story_credit %}
Mayowa Songonuga
{% endblock %}


{% block story_body %}
<p>Today, Computer Science is the most popular course at MIT. As of 2018, approximately 38.5% of
    declared students had primary majors in some form of CS (including joint majors such as
    Computer Science and Molecular Biology). MIT is one of the top institutions in the field, and
    it’s interesting to think that the transition to a Computer Science powerhouse happened so
    recently. In fact, it wasn’t until 1975 that the Department of Electrical Engineering was renamed
    to the Department of Electrical Engineering and Computer Science. That same year, MIT gave out its
    first undergraduate Computer Science degree.</p>


<figure class="figure float-right">
    <img src="{{ static('img/stories/mayowa_story.png') }}"
         class="class="figure-img img-fluid rounded"
         alt="A map of MIT in 1905, back when the campus was still in Boston. The Lowell building (home to Course 6) is circled." />
    <figcaption class="figure-caption">Map of MIT in 1905. The Lowell building (then home to Course 6) is circled.</figcaption>
</figure>

<p>The first high-speed computer was installed at MIT in early 1957. Before that, MIT had other,
    less advanced machinery that was used in the classroom setting. Computer Science at MIT started
    as just a few classes, notably 6.535 and 6.536, Coding for Digital Machines and Coding for Analog
    Machines. By June of 1954, automatic computation, as it was called then, had spread to many different
    departments, including Mechanical, Chemical, and Aeronautical Engineering, Physics, and Mathematics.
    These departments all offered classes that utilized automatic computing in some way, but there were
    also eleven classes directly related to the emerging field. Of these eleven, ten were graduate electives,
    and the last was a senior elective. 6.535 evolved to  Introduction to Computer Coding and Logic and
    6.536 to Machine Computation. Other classes included M411, Numerical Analysis, and 6.568, Switching Circuits.</p>
{% endblock %}








