{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Beginings of CS at MIT
{% endblock %}

{% block story_teaser %}
Here are between 140-280ish characters that can go on the front page about this story, including these other characters that can go on the front page about this story. Think about the length to twice the length of a tweet.
{% endblock %}