
{% extends 'archives/story.jinja2' %}

{% block story_title %}
The Whirlwind Project
{% endblock %}

{% block story_teaser %}
Here are between 140-280ish characters that can go on the front page about this story, including these other characters that can go on the front page about this story. Think about the length to twice the length of a tweet.
{% endblock %}

{% block story_body %}
<p>        The Whirlwind Project was developed by the MIT Servomechanisms Laboratory for the United States Navy and
    was initially meant to design an aircraft simulator during World War II. One of the first problems the team ran into was
    the system's lack of speed and accuracy, making it so that the simulation did not give a realistic enough feel for it to
    be used as a proper training method for pilots. Moreover, the expected cost of the project was initially $200,000, and it was
    projected to take two years to finish. Although with any project there is almost always the inevitability of going over budget
    and taking more time than expected, the Whirlwind Project went over the projections far more than other computer
    projects during that time. Project Whirlwind took 8 years to develop, and it ended up costing $8 million. </p>

    <p>    Starting in 1947, the Whirlwind Project received funding from the Office of Naval Research (ONR). A huge problem
    with this project was the sheer amount of resources going into it. The team consisted of more than one hundred people
    with a budget close to $3 million, which took up 20% of the ONR’s total research budget. As time progressed, more and
    more money was being invested into this project, and the ONR started losing its confidence in the project. By the 1950s, critics thought that the extreme amount of money going into
    this project was simply not worth the outcomes the team was producing. This led to the ONR cutting funds to the project.
    However, as this project came to an end, a new project called the SAGE Defense System was starting to be developed.</p>

<figure class="figure float-right">
    <img src="{{ static('img/stories/sample_story.jpg') }}"
         class="class="figure-img img-fluid rounded"
         alt="A cat operating a computing device" />
    <figcaption class="figure-caption">Cats love computers.</figcaption>
</figure>

{% endblock %}