{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
The Rise and Fall of Project Whirlwind
{% endblock %}

{% block story_teaser %}
The development of the Whirlwind Project serves as a milestone in the computation history, as it was one of the first
    high-speed large-scale digital computers to be developed. However, there were many issues during the process of
    perfecting the machine that ended in its termination in 1959.
{% endblock %}