{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
The Letter Network
{% endblock %}

{% block story_teaser %}
    Take a look at the top contributors in the MIT Computation Center archives by seeing a visualization of who was writing the most, and to whom.
{% endblock %}