{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
    Behind the Scenes
{% endblock %}

{% block story_teaser %}
    How did undergraduates in 2019 immerse
    themselves in computation of the 1950s? Find out more here.
{% endblock %}
