{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Qualifications of a 704 Programmer
{% endblock %}

{% block story_teaser %}
The idea of a programmer today is much different than what is was 60 years ago in the time of the IBM 704. Instead of your typical college educated, introverted programmer, the MIT Computation Center sought out a different type of demographic.{% endblock %}
