{% extends 'archives/story.jinja2' %}

{% block story_title %}
The Title of this Story
{% endblock %}

{% block story_credit %}
Story Author
{% endblock %}


{% block story_body %}
<p>Here is the full story, which should be about 200-500 words. This is a sentence in the story. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis posuere erat, et ornare nisl. Maecenas id sem at sem euismod fermentum eu at lorem. Proin felis nibh, volutpat at neque non, finibus egestas lectus. Nullam nec commodo erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed non imperdiet neque. Integer tincidunt eget lacus eget porttitor. Mauris est nulla, fermentum non odio a, efficitur iaculis tortor. Nam orci ligula, luctus a ultricies id, tincidunt et tortor. Etiam pellentesque erat libero, vel blandit tortor maximus vel. Morbi suscipit, nibh ut efficitur interdum, dolor magna elementum arcu, in eleifend sem ipsum et nisi. Sed aliquam odio mi, ut porta nisl egestas non. Nullam leo tortor, euismod et euismod at, posuere ac turpis. Etiam egestas nisl justo, eget egestas ligula laoreet nec.</p>

<figure class="figure float-right">
    <img src="{{ static('img/stories/sample_story.jpg') }}"
         class="class="figure-img img-fluid rounded" 
         alt="A cat operating a computing device" />
    <figcaption class="figure-caption">Cats love computers.</figcaption>
</figure>

<p>Cras nec pulvinar velit. Sed sollicitudin mauris euismod lacus porta maximus. Pellentesque consequat blandit lacus sed mollis. Cras vel ullamcorper ligula. Nullam in dolor magna. Vivamus et sapien sit amet arcu venenatis semper non non nulla. Quisque vel est vel mauris placerat dictum. Cras malesuada elementum turpis, sed pharetra nibh ullamcorper ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam aliquet id nunc sed hendrerit. Nullam gravida urna arcu, in sollicitudin lectus bibendum eu.</p>

<p>Etiam vehicula laoreet mi a varius. Fusce consequat est in sem aliquet, eu feugiat eros consequat. Pellentesque tristique nibh ante, vitae aliquet dolor ornare quis. Cras consequat, ex quis feugiat blandit, nunc turpis euismod diam, nec molestie augue erat at augue. Mauris eu varius arcu, vel sodales arcu. Suspendisse a rhoncus dui. Morbi egestas ipsum ex, eu bibendum nibh dignissim sit amet. Nunc mollis dolor in enim convallis, non euismod eros porta. Nullam vulputate sit amet quam vel pellentesque. Etiam tempor nibh sapien, quis mollis.</p>
{% endblock %}
