{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
&ldquo;Three Man-Months&rdquo;
{% endblock %}

{% block story_teaser %} 
    One might presume that the primary issue with the computers of the 1950’s was that they were slow.  But lack of
    processing power was not necessarily the bottleneck here.
{% endblock %}
