{% extends 'archives/story.jinja2' %}

{% block story_title %}
Using a Supercomputer
{% endblock %}

{% block story_body %}
<p>When requesting time to use the computer, laboratories trying to tackle problems could only give an estimate of how much time they needed. Knowing this, one could assume that many laboratories used more time than they requested while others used less time than they requested. Surprisingly, these estimations were off by thousands of hours.</p>

<figure class="figure float-right">
    <img src="{{ static('img/stories/sample_story.jpg') }}"
         class="class="figure-img img-fluid rounded" 
         alt="A cat operating a computing device" />
    <figcaption class="figure-caption">Cats love computers.</figcaption>
</figure>

<p>The types of problems that these laboratories tackled were far too long to do by hand. In
    fact, even with a computer they still took many hours. One person by the name of Sam H.
    Davis, Jr. had spend over 25 hours on a single problem. At an average rate of $250/hr, he
    would have had to spend over $6,300 to solve this problem. If you thought this was expensive,
    another person by the name of Jack L. Uretsky had spent over 73 hours to solve a problem,
    costing him a grand total of nearly $20,000! This cost is without even considering the price
    of each team member in the lab. Considering how expensive these problems were with the help of a computer, imagine how much
    more expensive it would have been in terms of time to do it by hand. The Whirlwind 1 is able
    to do 50,000 additions per second and these problems still took over 3 days of constant work
    with an entire laboratory to solve. By hand, this may have taken months or years. Even
    creating the computer was insanely expensive. 175 people along with a million dollar a year
    budget and it still took over 3 years to build.
</p>

{# Sam H. Davis, Jr. page 19, Frank Scherb page 14, Time sheet page 8#}

<p>Supercomputers today can compute a
    hundred quadrillion floating-point operations per second. Even the common consumer laptop you
    are probably using to read this with can do over 60 billion floating-point operations
    per second, much more than what a supercomputer that costed millions of dollars could do in
    the 1950s. Although the Whirlwind 1's power may seem trivial in this new age of technology,
    we must remember the efforts of those who made modern day computing possible.
</p>
{% endblock %}
