{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Using a Supercomputer
{% endblock %}

{% block story_teaser %}
    With an infinite amount of problems to solve and only one Supercomputer, time usage for the
    Whirlwind 1 was limited. To actually use it, one would have to request time usage
    and charged at a rate of $250/hour.
{% endblock %}