{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Cost of Using a Supercomputer
{% endblock %}

{% block story_teaser %}
    With an infinite amount of problems to solve and only one supercomputer, time usage for the
    Whirlwind 1 was limited. To actually use it, one would have to request time at rates up to
    $250/hour or $2400/hour when adjusted for inflation.
{% endblock %}