{% extends 'archives/story.jinja2' %}

{% block story_title %}
Women in Symbols
{% endblock %}

{% block story_credit %}
Maritza Gallegos
{% endblock %}

{% block story_body %}
<p>Until recently, women have gone unnamed in many of their historical contributions, which is visible in this archive.
    Most of the historical material we can reference here to learn about early computing has been signed by men, with little evidence of the women behind them.
    For example, a majority of the letters in this archive have been written by a secretary whose initials only appear at the end of the letter,
    such as in the picture to the right, where "FMV" has signed the letter and "nb" has written it up.</p>

<figure class="figure float-right">
    <img src="{{ static('img/stories/women_in_symbols.png') }}"
         class="class="figure-img img-fluid rounded"
         alt="A letter subscript (FMV:nb) above the cc line detailing those involved in its writing" />
    <figcaption class="figure-caption">Nanny B.'s initials on <a href="/archives/doc/1_15_cc_equip_15">one of Frank Verzuh's letters.</a></figcaption>
</figure>

<p>However, internal documents sometimes display a portion of the work women performed in computing.
    In the case of choices made about which symbols computers would use, this archive demonstrates women were heavily involved.
    In a <a href="/archives/doc/1_15_cc_equip_17">memo submitted to "Laura"</a>
    by Edna Tamm Verzuh, there is a page of symbols that appear to await her commentary.
    This is supported by the <a href="/archives/doc/1_15_cc_equip_18">file following this memo,</a> received by Frank Verzuh on November 29, 1956, which contains
    comments by Edna herself on the symbols requested, marked both by her first name at the sheet's top left and her initials, "ETV," in the bottom right-hand corner,
    in addition to comments by Nanny, likewise marked by her first name and her initials, "nb," in the bottom left-hand corner.</p>

    <p>Edna Tamm Verzuh is one of Frank Verzuh’s secretaries as well as his wife, and Nanny B. is
        also likely Frank Verzuh’s secretary, given that the secretary subscript on most of Frank Verzuh’s outgoing correspondence is "nb."
        "Laura" is mentioned only by her first name, but the archive provides <a href="/archives/person/laura-hill">evidence</a> that her last name is in fact Hill.
        She is likely one of Philip Morse’s secretaries, based on the subscript "LWH" on many of his
        letters and a <a href="/archives/doc/1_22_computation_center_4">letter within the archive to her from him,</a> where he gives her some instructions while he is away.
        This is one example of the many tasks secretaries completed which diverged from the tasks we typically associate with them, and it portrays how secretaries were and are far more than typists and organizers.</p>

<p>After the memo was received by Laura Hill, final comments were sent to Frank Verzuh in a <a href="/archives/doc/1_15_cc_equip_16">note requesting the agreed-upon new symbols.</a>
    The initials on the bottom of this note are too ambiguous to say with certainty who sent it, but Edna Tamm Verzuh, Nanny B., and Laura Hill can certainly be ruled out.
</p>

    <p>Through these documents, we are able to view some pieces of the roles women played in the administrative details regarding computing, as well as some of the decision-making and female labor behind the MIT Computation Center.
        Secretaries, who have often been credited only as typists, were often responsible as well for work relying on their judgement and decision-making.
        This trend is present across scholarly disciplines, as shown in <a href="https://www.npr
        .org/2017/03/30/521931310/-thanksfortyping-spotlights-unnamed-women-in-literary-acknowledgements"><i>#ThanksForTyping</i></a>,
        an NPR article discussing the female labor behind many scholarly publications.
        This article provides evidence of academics’ wives typing up manuscripts and doing research in which they were often unnamed, being credited frequently as simply “my wife,” like the secretaries being recognized solely by initials in external communications.</p>
{% endblock %}
