{% extends 'archives/story.jinja2' %}

{% block story_title %}
Women in Symbols
{% endblock %}

{% block story_body %}
<p>It is often quite difficult to find the work of women in our society’s historical record, particularly in regards to computing. Most of the historical materials we reference to learn about early computing have been signed by men, with little evidence of the women behind them. For example, a majority of the letters in this archive have been written by a secretary, whose initials only appear at the end of the letter, such as in the picture to the right, where FMV has signed the letter and NB has written it up.</p>

<figure class="figure float-right">
    <img src="{{ static('img/stories/women_in_symbols.png') }}"
         class="class="figure-img img-fluid rounded"
         alt="A letter subscript above the cc line detailing those involved in its writing" />
</figure>

<p>However, internal documents sometimes display a portion of the work women performed in
    computing. In the case of the choices made for which symbols computers would use, this
    archive demonstrates that women were heavily involved. In a memo submitted to Laura by Edna
    Verzuh, there is a page of symbols which appear to await her commentary. This is precedented by the file following this memo, in which there are comments on the symbols requested by Edna herself, which are marked by both her name on the sheet and her initials, ETV, in the bottom right-hand corner, as well as comments by Nanny, marked also by her name and her initials, NB, on the bottom left-hand corner. This Nanny is also likely Frank Verzuh’s secretary, seeing as the secretary subscript on most of Verzuh’s outgoing correspondence is nb.</p>

<p>After the memo was received by Laura, final comments seem to have been sent by her to Frank Verzuh in a note requesting the agreed upon new symbols, although the initials on the bottom of this note are too ambiguous to say with certainty.</p>

<a href="/archives/doc/553">File with Edna Verzuh's and Nanny B.'s notes</a>
    <p></p>
    <a href="/archives/doc/552">Memo to Laura</a>
    <p></p>
    <a href="/archives/doc/551">Final note to Frank Verzuh</a>
{% endblock %}
