{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Women in Symbols
{% endblock %}

{% block story_teaser %}
Although women’s contributions to the MIT Computation Center are not very visible in this archive’s external lab communications, some internal documents shed light on a piece of their work.
{% endblock %}
