{% extends 'archives/story_card.jinja2' %}

{% block story_title %}
Women in Symbols
{% endblock %}

{% block story_teaser %}
Although it is very difficult to find material evidence of women’s involvement in computer science, some internal documents from the MIT Computation Center shed light on some of their work.
{% endblock %}
