<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{%  static 'img/favicon/site.webmanifest' %}">

    <!-- bootstrap styling -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ static('css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static('css/acre_font.css') }}" type="text/css">


    <title>{% block title %} Computational History {% endblock %} - MIT Computation Center Archives</title>

    {%  block extraheader %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Computation Archives</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#"
                       id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Archives
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/archives/list/people">
                            <span class="dropdown-link">People</span>
                        </a>
                        <a class="dropdown-item" href="/archives/list/organizations"><span
                                class="dropdown-link">Organizations</span>
                        </a>
                        <a class="dropdown-item" href="/archives/list/folders"><span
                                class="dropdown-link">Folders</span>
                        </a>
                        <a class="dropdown-item" href="/archives/net_viz"><span
                                class="dropdown-link">Network Visualization</span>
                        </a>
                        <a class="dropdown-item" href="/archives/timeline">
                            <span class="dropdown-link">Timeline</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'stories' %}">Stories</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/simulations">Simulations</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/archives/about">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/archives/search"
                  id="basic_search_form">
                <input class="form-control mr-sm-2" type="text"
                       id="basic_search"
                       placeholder="Search"
                       aria-label="Search" name="keyword">
                <button class="btn btn-secondary my-2 my-sm-0"
                        id="basic_search_submit_button"
                        type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div id="loader" style="display: none"></div>

<main role="main" class="container mb-4">
    <div class="text-center">
        <h1 id="main_header">{% block header %}{% endblock %}</h1>
    </div>

    {% block content %}
    {% endblock %}

</main>


<!-- js -->
{% block footer %}
<footer class="footer bg-white text-dark text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-6 py-3">
                <a href="https://digitalhumanities.mit.edu/">
                    <img src="{{ static('img/dh_logo.png') }}"
                         class='footer-img'
                         alt='Digital Humanities at MIT Logo'/>
                </a>
            </div>
            <div class="col-md-3 col-6 py-3">
                <a href="https://www.mit.edu/">
                    <img src="{{ static('img/mit_logo.svg') }}"
                         class='footer-img'
                         alt='MIT Logo'/>
                </a>
            </div>
            <div class="col-md-3 col-6 py-3">
                <a href="https://libraries.mit.edu/">
                    <img src="{{ static('img/library_logo.png') }}"
                         class='footer-img'
                         alt="MIT Libraries Logo"/>
                </a>
            </div>
            <div class="col-md-3 col-6 py-3">
                <a href="https://www.mellon.org/">
                    <img src="{{ static('img/mellon_logo.svg') }}"
                         class='footer-img'
                         alt="Mellon Foundation Logo"/>
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        $('#basic_search_submit_button').click(() => {
            $("#loader").show();
        });
    </script>
    {%  block scripts %}{% endblock %}
</body>
</html>
