{% extends "base.jinja2" %}

{% block header %}
<h1>Archival History of Computing at MIT, 1950–62</h1>
    <div class="row my-2">
    <div class="col-lg-10 offset-lg-1 text-center acre">
    The MIT Digital Humanities Programs, together with the MIT Libraries
        Department of Distinctive Collections, have digitized and contextualized the majority
        of archived documents relating to the history of the <b style="white-space: nowrap;">MIT Computation Center</b>
        from the&nbsp;1950s&nbsp;and&nbsp;early&nbsp;1960s.
    </div>
    </div>
{% endblock %}

{% block content %}
<div class="row story-row">
    {% for story in stories %}
        {% include 'archives/stories/' + story + '-teaser.jinja2' %}
    {% endfor %}
</div>
{% endblock %}
