{% extends "base.jinja2" %}

{% block title %}
Home Page
{% endblock %}

{% block header %}
<h1 class="typing">MIT Computation Center Archives, 1950–62</h1>
    <div class="row my-2">
    <div class="col-md-12 text-center acre">
    The MIT Digital Humanities Program, together with the MIT Libraries Archives
        and Special Collections, have digitized and contextualized the majority
        of archived documents relating to the
    </div>
    </div>
{% endblock %}

{% block content %}
<div class="row mt-4">
    {% for story in stories %}
    <div class='col-md-4 my-4 my-md-0'>
        {% include 'archives/stories/' + story + '-teaser.jinja2' %}
    </div>
    {% endfor %}
</div>
{% endblock %}
