{% extends "base.jinja2" %}

{% block header %}
<h1>Archival History of Computing at MIT, 1950–62</h1>
    <div class="row my-2">
    <div class="col-lg-10 offset-lg-1 text-center acre">
    The MIT Digital Humanities Programs, together with the MIT Libraries
        Department of Distinctive Collections, have digitized and contextualized the majority
        of archived documents relating to the history of the <b style="white-space: nowrap;">MIT Computation Center</b>
        from the&nbsp;1950s&nbsp;and&nbsp;early&nbsp;1960s.
    </div>
    </div>
{% endblock %}


{% block content %}

<div class="row"><div class="col mb-4">

<form class="form my-2 my-lg-0" action="/archives/search" id="big_search_form">

<div class="input-group mb-2">
        <input class="form-control mr-2" type="text" id="basic_search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="big_search btn btn-primary acre" type="submit">Search the Archive</button>
</div>
<div class="text-muted text-center">Try searching for:
    <a class="big_search" href="/archives/search/?keyword=Humanities">Humanities</a> |
    <a class="big_search" href="/archives/search/?keyword=Whirlwind">Whirlwind</a> |
    <a class="big_search" href="/archives/search/?keyword=Laura">Laura</a> |
    <a class="big_search" href="/archives/search/?keyword=social+science+research">Social science research</a> |
    <a class="big_search" href="/archives/search/?keyword=Calvin">Calvin</a> |
    <a class="big_search" href="/archives/search/?keyword=704">704</a> | 
    <a class="big_search" href="/archives/search/?keyword=Physics">Physics</a>
</div>


</form>

</div></div>

<div class="row story-row">
    {% for story in stories %}
        {% include 'archives/stories/' + story + '-teaser.jinja2' %}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
    <script>
        $('.big_search').click(() => {
            $("#loader").show();
        });
    </script>
{% endblock %}
