pythF
{% extends "base.jinja2" %}

{% block title %} Box {{ box_obj.number }} {% endblock %}

{% block header %}
Box number {{box_obj.number}}
{% endblock %}

{% block content %}

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Folder Name</th>
        </tr>
      </thead>
      <tbody>
      {% for item in folder_objs %}
        <tr>
          <th scope="row">{{ loop.index }} </th>

            <td><a href = "{{ item.url }}">{{ item }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


{% endblock %}
