<!--This is redundant, maybe change to pictures of the top five people, snapshots of document, etc -->


{% extends "base.jinja2" %}
{% block title %} Computational History {% endblock %}

{% block header %}
    <h1>Welcome to the Computation History Project</h1>
    <br><br>
{% endblock %}

{% block table %}
    Unsure of what you're looking for? Browse through our datasets.
    <div class="list-group">
        <a href="/archives/list/person" class="list-group-item list-group-item-action">
            <h2>People</h2>
        </a>
        <a href="/archives/list/folder" class="list-group-item list-group-item-action">
            <h2>Folders</h2>
        </a>
        <a href="/archives/list/organization" class="list-group-item list-group-item-action">
            <h2>Organizations</h2>
        </a>
        <a href="/archives/list/box" class="list-group-item list-group-item-action">
            <h2>Boxes</h2>
        </a>
    </div>
{% endblock %}
