
{% extends "base.jinja2" %}

{% block title %}{{ doc_obj.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>{{ doc_obj.title }}
        {% if doc_obj.date %}
            ({{ doc_obj.date }})
        {% endif %}
        </h3>

        {{ doc_obj.type|capitalize }}
        {% if authors %}
            by
            {% for item in authors %}
                {% if loop.last and not loop.first %} and {% endif %}
                <a class="doc_metadata" href="{{ item.url }}">{{ item }}</a>
                {% if not loop.last and authors|length != 2%};{% endif %}
            {% endfor %}
        {% endif %}

        {% if recipients %}
            to
            {% for item in recipients %}
                {% if loop.last and not loop.first %} and {% endif %}
                <a class="doc_metadata" href="{{ item.url }}">{{ item }}</a>
                {% if not loop.last and recipients|length != 2%};{% endif %}
            {% endfor %}
        {% endif %}

        {% if cced %}
            cced to
            {% for item in cced %}
                {% if loop.last and not loop.first %} and {% endif %}
                <a class="doc_metadata" href="{{ item.url }}">{{ item }}</a>
                {% if not loop.last and cced|length != 2%};{% endif %}
            {% endfor %}
        {% endif %}

    </div>
</div>

<div class="row d-none d-md-inline">
    <div class="col text-center">
        {% if prev_doc %}
            <a href="{{ prev_doc.url }}" class="btn btn-outline-secondary float-left"
               role="button">&laquo; Previous</a>
        {% endif %}

        <a href="{{ doc_obj.folder.box.url }}">Box #{{ doc_obj.folder.box }}</a> | <a href="{{ doc_obj.folder.url }}">Folder: {{ doc_obj.folder }}</a>

        {% if next_doc %}
            <a href="{{ next_doc.url }}" class="btn btn-outline-secondary btn-small float-right"
               role="button">Next &raquo;</a>
        {% endif %}
    </div>
</div>

    <div class="row">
        <div class="col">
            <iframe src="{{ static('ext/pdfjs/web/viewer.html') }}?file={{ doc_obj.pdf_url }}"
                    height="900"
                    width="100%">
            </iframe>
        </div>

    </div>

{% endblock %}
