{% extends "base.jinja2" %}

{% block title %}

    {% if model_str == 'organization' %}
        Organizations
    {% elif model_str == 'person'%}
        People
    {% elif model_str == 'folder' %}
        Folders
    {% elif model_str == 'box' %}
        Boxes
    {% elif model_str == 'doc' %}
        Documents
    {% endif %}


{% endblock %}

{% block header %}
    {% if model_str == 'doc' %}
        Documents that match your search:
    {% else %}
        Every {{ model_str }} in the archive:
    {% endif %}
{% endblock %}

{% block content %}
    <br>
    <div class="starter-template">
        {% for item in model_objs %}
            <div class="list-group">
{#                {% if model_str == '' %}#}
                <a href="{{ item.url }}"
                   class="list-group-item list-group-item-action">
                    {{ item }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
