{% extends "base.jinja2" %}

{% block content %}

    <script src="{{ static('js/d3.js')}}"></script>
    <script src="{{ static('js/net_viz.js')}}"></script>
    <script>
        const nodes = [
            {"id": "Morse", "value": 45},
            {"id": "Verzuh", "value": 25},
            {"id": "Sally", "value": 10}
        ];
        const edges = [
            {"source": 0, "target": 1, "value": 10},
            {"source": 0, "target": 2, "value": 5},
            {"source": 2, "target": 1, "value": 20},
            {"source": 2, "target": 0, "value": 15},
        ];
        create_force_layout(nodes, edges);
    </script>
{% endblock %}