{% extends "base.jinja2" %}



{%  block self %}
    <div id="viz">
      <svg>
      </svg>
    </div>
{% endblock %}


{% block scripts %}
    <link rel="stylesheet" href="{{ static('css/net_vis.css') }}"/>

    <script>
        const nodes = {{ nodes | safe }};
        const edges = {{ edges | safe }};
    </script>
    <script src="{{ static('js/d3.js')}}"></script>
    <script src="https://d3js.org/queue.v1.min.js" type="text/JavaScript"></script>
    <script src="{{ static('js/net_viz.js')}}"></script>
{% endblock %}