{% extends "base.jinja2" %}

{% block title %} {{ org_obj }} {% endblock %}

{% block header %}
    {{org_obj}}
{% endblock %}

{% block content %}

    {% if document_written_objs %}
        <h3>This organization wrote:</h3>
        <br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Document Name</th>

            </tr>
            </thead>
            <tbody>
            {% for item in document_written_objs %}
                <tr>
                    <th scope="row">{{ loop.index }} </th>

                    <td><a href="{{ item.url }}">{{ item }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if document_received_objs %}
        <h3>{{ org_obj }} received some files</h3>
        <br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Document Name</th>

            </tr>
            </thead>
            <tbody>
            {% for item in document_received_objs %}
                <tr>
                    <th scope="row">{{ item.id }} </th>

                    <td><a href="{{ item.url }}">{{ item }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if document_cced_objs %}
        <h3>{{ org_obj }} was cced on some files</h3>
        <br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Document Name</th>

            </tr>
            </thead>
            <tbody>
            {% for item in document_cced_objs %}
                <tr>
                    <th scope="row">{{ item.id }} </th>

                    <td><a href="{{ item.url }}">{{ item }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
