{% extends "base.jinja2" %}

{% block title %}
About the Lab
{% endblock %}
{% block header %}
    Welcome to Digital Humanities Lab
{% endblock %}

{% block content %}
<div align="center">
  Staff and Members
</div>

<div class="row">

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member team-member-lg">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Cuthbert_Michael.jpg") }}" alt="Michael Cuthbert">
          <h4>Michael Cuthbert</h4>
          <p class="text-muted">Faculty Director & Associate Professor</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member team-member-lg">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Ahmed_Ryaan.jpg") }}" alt="Ryaan Ahmed">
          <h4>Ryaan Ahmed</h4>
          <p class="text-muted">Technical Director & Senior Research Engineer</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member team-member-lg">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Risi_Stephan.jpg") }}" alt="Stephan Risi">
          <h4>Stephan Risi</h4>
          <p class="text-muted">Postdoctoral Associate</p>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member team-member-lg">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Tagliaferri_Lisa.jpg") }}" alt="Lisa Tagliaferri">
          <h4>Lisa Tagliaferri</h4>
          <p class="text-muted">Postdoctoral Associate</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member team-member-lg">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Fountain_Nicole.jpg") }}" alt="Nicole Fountain">
          <h4>Nicole Fountain</h4>
          <p class="text-muted">Administrative Assistant II</p>
        </div>
    </div>


    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Zimmer_Erica.jpg") }}" alt="Erica Zimmer">
          <h4>Erica Zimmer</h4>
          <p class="text-muted">Special Lab Affiliate</p>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Abreu_Alan.jpg") }}" alt="Alan Abreu">
          <h4>Alan Abreu</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Ademolu-Odeneye_Ife.jpg") }}" alt="Ife Ademolu-Odeneye">
          <h4>Ife Ademolu-Odeneye</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>


    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Atia_Dina.jpg") }}" alt="Dina Atia">
          <h4>Dina Atia</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Bansal_Rikita.jpg") }}" alt="Rikita Bansal">
          <h4>Rikita Bansal</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Boal_Elena.jpg") }}" alt="Elena Boal">
          <h4>Elena Boal</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Caragay_Emily.jpg") }}" alt="Emily Caragay">
          <h4>Emily Caragay</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Catillejos_Angelica.jpg") }}" alt="Angelica Castillejos">
          <h4>Angelica Castillejos</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Culbertson_Alena.jpg") }}" alt="Alena Culbertson">
          <h4>Alena Culbertson</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/DaCosta_Howard.jpg") }}" alt="Howard DaCosta">
          <h4>Howard DaCosta</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Duan_Mingfei.jpg") }}" alt="Mingfei Duan">
          <h4>Mingfei Duan</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Gallegos_Maritza.jpg") }}" alt="Maritza Gallegos">
          <h4>Maritza Gallegos</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Garza_Monsterrat.jpg") }}" alt="Monsterrat Garza">
          <h4>Monsterrat Garza</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Ismoldayeva_Assel.jpg") }}" alt="Assel Ismoldayeva">
          <h4>Assel Ismoldayeva</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Itambo_Elsa.jpg") }}" alt="Elsa Itambo">
          <h4>Elsa Itambo</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Kim_Meesue.jpg") }}" alt="Meesue Kim">
          <h4>Meesue Kim</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Merrill_Kelsey.jpg") }}" alt="Kelsey Merrill">
          <h4>Kelsey Merrill</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Minsky_Charlotte.jpg") }}" alt="Charlotte Minsky">
          <h4>Charlotte Minsky</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Murray_Keith.jpg") }}" alt="Keith Murray">
          <h4>Keith Murray</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Pan_Carol.jpg") }}" alt="Carol Pan">
          <h4>Carol Pan</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Redlon_Isaac.jpg") }}" alt="Isaac Redlon">
          <h4>Isaac Redlon</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/SOngonuga_Mayowa.jpg") }}" alt="Mayowa Songonuga">
          <h4>Mayowa Songonuga</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Sundaram_Shobhita.jpg") }}" alt="Shobhita Sundaram">
          <h4>Shobhita Sundaram</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Tran_Felix.jpg") }}" alt="Felix Tran">
          <h4>Felix Tran</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Xu_Katherine.jpg") }}" alt="Katherine Xu">
          <h4>Katherine Xu</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Yen_Derek.jpg") }}" alt="Derek Yen">
          <h4>Derek Yen</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/York_Samantha.jpg") }}" alt="Samantha York">
          <h4>Samantha York</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>

<div class="col-6 col-sm-4 col-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ static("img/team/Zhi_Sophia.jpg") }}" alt="Sophia Zhi">
          <h4>Sophia Zhi</h4>
          <p class="text-muted">UROP<br/>Gender/Novels<br>Comp/Hist</p>
        </div>
    </div>



</div>


{% endblock %}