{% extends "base.jinja2" %}

{% block title %}
About the Lab
{% endblock %}
{% block header %}
    <div align="center" class="typing" style="font-size:50px">
        Welcome to Digital Humanities Lab
    </div>
     &nbsp
     &nbsp
{% endblock %}


{% block content %}
    <div class="page-subheader">
        About Us
    </div>
    &nbsp
    <div class="page-subsection">
    <p>The Archival History of Computing project began in Winter of 2018 with an undergraduate cohort of students under the mentorship
        of a faculty director, a technical director, and two postdocs, as part of the Digital Humanities program at MIT. Every member
        of the team has contributed to the project's design, development, implementation, contextualization, and maintenance.</p>
    <p>Undergraduates participated by visiting the archives, creating metadata, building the website, and conducting analysis. These students
        formed all the data visualizations and stories present on this website. Every individual contribution, along with collaboration across teams
        was integral to this digitization and contextualization of the MIT Computation Center.</p>
    <p>You can learn more about the Digital Humanities program <a href="https://digitalhumanities.mit.edu/"> here</a>, check out our last project on <a href="http://gendernovels.digitalhumanitiesmit.org/"> Gender Roles across novels</a>, and view the code we used for this project on <a href="https://github.com/dhmit/computation_hist"> our Github</a>.  </p>

    </div>
    <br>

    <br>



    <div align="center">
        <p  style="font-size:25px; text-align:center">Members</p>
    </div>
    <div class="row">


        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Abreu_Alan.jpg") }}" alt="Alan Abreu">
                <h4><b>Alan Abreu</b></h4>
              <p class="text-muted">UROP<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Ademolu-Odeneye_Ife.jpg") }}" alt="Ife Ademolu-Odeneye">
                <h4><b>Ife Ademolu-Odeneye</b></h4>
              <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Atia_Dina.jpg") }}" alt="Dina Atia">
                <h4><b>Dina Atia</b></h4>
              <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Bansal_Rikita.jpg") }}" alt="Rikita Bansal">
                <h4><b>Rikita Bansal</b></h4>
              <p class="text-muted">UROP<br>Timeline Specialist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Boal_Elena.jpg") }}" alt="Elena Boal">
                <h4><b>Elena Boal</b></h4>
              <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Catillejos_Angelica.jpg") }}" alt="Angelica Castillejos">
                <h4><b>Angelica Castillejos</b></h4>
              <p class="text-muted">UROP<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Duan_Mingfei.jpg") }}" alt="Mingfei Duan">
                <h4><b>Mingfei Duan</b></h4>
              <p class="text-muted">UROP<br>Assembly Language Specialist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Gallegos_Maritza.jpg") }}" alt="Maritza Gallegos">
                <h4><b>Maritza Gallegos</b></h4>
              <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Garza_Monsterrat.jpg") }}" alt="Monsterrat Garza">
                <h4><b>Monsterrat Garza</b></h4>
              <p class="text-muted">UROP<br>Comp/Hist</p>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Kim_Meesue.jpg") }}" alt="Meesue Kim">
                <h4><b>Meesue Kim</b></h4>
              <p class="text-muted">UROP<br>OCR and Network Visualizations</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Murray_Keith.jpg") }}" alt="Keith Murray">
                <h4><b>Keith Murray</b></h4>
              <p class="text-muted">UROP<br>Whirlwind Specialist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Pan_Carol.jpg") }}" alt="Carol Pan">
                <h4><b>Carol Pan</b></h4>
              <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/SOngonuga_Mayowa.jpg") }}" alt="Mayowa Songonuga">
                <h4><b>Mayowa Songonuga</b></h4>
              <p class="text-muted">UROP<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Tran_Felix.jpg") }}" alt="Felix Tran">
                <h4><b>Felix Tran</b></h4>
              <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/York_Samantha.jpg") }}" alt="Samantha York">
                <h4><b>Samantha York</b></h4>
              <p class="text-muted">UROP<br>OCR and Network Visualizations</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Caragay_Emily.jpg") }}" alt="Emily Caragay">
              <h4>Emily Caragay</h4>
              <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Culbertson_Alena.jpg") }}" alt="Alena Culbertson">
              <h4>Alena Culbertson</h4>
              <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/DaCosta_Howard.jpg") }}" alt="Howard DaCosta">
              <h4>Howard DaCosta</h4>
              <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
             <div class="team-member">
                 <img class="mx-auto rounded-circle" src="{{ static("img/team/Ismoldayeva_Assel.jpg") }}" alt="Assel Ismoldayeva">
                 <h4>Assel Ismoldayeva</h4>
                 <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
             </div>
         </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
             <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ static("img/team/Itambo_Elsa.jpg") }}" alt="Elsa Itambo">
                <h4>Elsa Itambo</h4>
                <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
             </div>
         </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ static("img/team/Merrill_Kelsey.jpg") }}" alt="Kelsey Merrill">
                 <h4>Kelsey Merrill</h4>
                <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
             </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
             <div class="team-member">
                 <img class="mx-auto rounded-circle" src="{{ static("img/team/Minsky_Charlotte.jpg") }}" alt="Charlotte Minsky">
                <h4>Charlotte Minsky</h4>
                 <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
             </div>
         </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
             <div class="team-member">
                  <img class="mx-auto rounded-circle" src="{{ static("img/team/Redlon_Isaac.jpg") }}" alt="Isaac Redlon">
                 <h4>Isaac Redlon</h4>
                 <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
             </div>
         </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ static("img/team/Sundaram_Shobhita.jpg") }}" alt="Shobhita Sundaram">
                 <h4>Shobhita Sundaram</h4>
                 <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
             </div>
         </div>


        <div class="col-6 col-sm-4 col-md-2 text-center">
             <div class="team-member">
                 <img class="mx-auto rounded-circle" src="{{ static("img/team/Xu_Katherine.jpg") }}" alt="Katherine Xu">
                 <h4>Katherine Xu</h4>
                 <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
             </div>
         </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
             <div class="team-member">
                 <img class="mx-auto rounded-circle" src="{{ static("img/team/Yen_Derek.jpg") }}" alt="Derek Yen">
                 <h4>Derek Yen</h4>
                 <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
             </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
                 <img class="mx-auto rounded-circle" src="{{ static("img/team/Zhi_Sophia.jpg") }}" alt="Sophia Zhi">
                 <h4>Sophia Zhi</h4>
                 <p class="text-muted">UROP<br>Gender/Novels<br>Comp/Hist</p>
            </div>
        </div>

    </div>



    <div align=p"center">
        <p style="font-size:25px; text-align:center">Staff</p>
    </div>

    <div class="row">
        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Cuthbert_Michael.jpg") }}" alt="Michael Cuthbert">
                <h4><b>Michael Cuthbert</b></h4>
                <p class="text-muted">Faculty Director</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Ahmed_Ryaan.jpg") }}" alt="Ryaan Ahmed">
                <h4><b>Ryaan Ahmed</b></h4>
              <p class="text-muted">Technical Director & Senior Research Engineer</p>
            </div>
        </div>


        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Risi_Stephan.jpg") }}" alt="Stephan Risi">
                <h4><b>Stephan Risi</b></h4>
              <p class="text-muted">Postdoctoral Associate</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Tagliaferri_Lisa.jpg") }}" alt="Lisa Tagliaferri">
                <h4><b>Lisa Tagliaferri</b></h4>
              <p class="text-muted">Postdoctoral Associate</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Fountain_Nicole.jpg") }}" alt="Nicole Fountain">
                <h4><b>Nicole Fountain</b></h4>
              <p class="text-muted">Administrative Assistant II</p>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 text-center">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ static("img/team/Zimmer_Erica.jpg") }}" alt="Erica Zimmer">
                <h4><b>Erica Zimmer</b></h4>
              <p class="text-muted">Special Lab Affiliate</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}