{% extends "base.jinja2" %}

{% block title %}
About the Lab
{% endblock %}
{% block header %}
    Welcome to Digital Humanities Lab
{% endblock %}
{% block content %}
    <figure class="figure float-right">
    <img class="mx-auto rounded-circle" src="{{ static('img/team/Abreu_Alan.jpg') }}"
         class="class=figure-img img-fluid rounded"
         alt="US" />
    <figcaption class="US"></figcaption>
    </figure>
{% endblock %}