{% extends "base.jinja2" %}

{% block title %}Search{% endblock %}
{% block extraheader %}
    <link rel="stylesheet" href="{{ static('css/search.css') }}"/>
{% endblock %}


{%  block content %}
<div class="row" id="search_container">
    <div class="col-lg-9 col-md-12 col-sm-12">

        {# If a previous search was executed, show the query values. Else set default values #}
        {% if search_params is not defined %}
            {% set search_params = {
                'keyword': '',
                'title': '',
                'text': '',
                'author': '',
                'recipient': '',
                'min_year': '',
                'max_year': '',
                'doc_types': []
            } %}
        {# If the only entry in search_params is a keyword #}
        {%  elif len(search_params.keys())==1 and search_params.get('keyword') %}
            {% set search_params = {
                'keyword': search_params['keyword'],
                'title': '',
                'text': '',
                'author': '',
                'recipient':'',
                'min_year': '',
                'max_year': '',
                'doc_types': []
            } %}
        {%  elif len(search_params.keys())==1 %} {# nothing in the search field #}
            {% set search_params = {
                'keyword': '',
                'title': '',
                'text': '',
                'author': '',
                'recipient':'',
                'min_year': '',
                'max_year': '',
                'doc_types': []
            } %}
        {% endif %}

        <form id="adv_search" method="get" action="/archives/search">
            <h2>Advanced Search</h2>

            <p class="search-type">
                <label class="text_label" for="keyword">Keyword</label>
                <input id="keyword" type="text" name="keyword" value="{{ search_params['keyword'] }}">
            </p>

            <p class="search-type">
                <label class="text_label" for="title">Document Title</label>
                <input id="title" type="text" name="title" value="{{ search_params['title'] }}">
            </p>

            <p class="search-type">
                <label class="text_label" for="text">Document Text</label>
                <input id="text" type="text" name="text" value="{{ search_params['text'] }}">
            </p>

            <p class="search-type">
                <label class="text_label" for="author">Author</label>
                <input id="author" type="text" name="author" value="{{ search_params['author']}}">
            </p>

            <p class="search-type">
                <label class="text_label" for="recipient">Recipient</label>
                <input id="recipient" type="text" name="recipient"
                       value="{{ search_params['recipient'] }}">
            </p>

            <p class="search-type">
                <label class="text_label" for="min_year">Years</label>
                <input type="number" name="min_year" min="1900" max="2000"
                       value="{{ search_params['min_year'] }}">
                <label for="max_year">To</label>
                <input type="number" name="max_year" min="1900" max="2000"
                       value="{{ search_params['max_year'] }}">
            </p>

            <p class="search-type">
                <label class="text_label" for="doc_type">Document Type</label>
                <select multiple="multiple" class="form-control" id="doc_type_selector" name="doc_type">
                    {% for doc_type in doc_types %}
                        <option {% if doc_type in search_params['doc_types'] %}
                                    selected="selected"
                                {% endif %}>
                            {{ doc_type }}
                        </option>
                    {% endfor %}
                </select>
            </p>
                <input type="submit" id="search_submit_button" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>


{% if docs is defined and not (docs or people) %}
    {# displayed only if a search has been processed but with no results #}
    <h3>There are no documents or people that match your search.</h3>

{% else %}
<div class="row">
    <div class="col-10">
        {% if people %}
        <div class="row results_container">
            <h3>People that match your search</h3>
                <div class="col-lg-9 col-md-9 col-sm-12 results_col">
                {% for person in people %}
                    <div class="person_result">
                        <h4><a href="{{ person.url }}">{{ person.fullname }}</a></h4>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if docs %}
        <div class="row results_container">
            <h3>Documents that match your search</h3>
            <div class="col-lg-9 col-md-9 col-sm-12 results_col">
            {% for doc in docs %}
                <div class="doc_result">
                    <h4><a href="{{ doc.url }}">{{ doc.title }}</a></h4>
                    <table class="doc_result_left_table">
                        <tbody>
                            {% for author in doc.get_person_list('authors') %}
                            <tr>
                                <td class="td_heading">
                                    {% if loop.index0 == 0 and loop.length == 1 %}Author
                                    {% elif loop.index0 == 0 and loop.length > 1 %}Authors
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>{{ author.name }}</td>
                            </tr>
                            {% endfor %}

                            {% for recipient in doc.get_person_list('recipients') %}
                            <tr>
                                <td class="td_heading">
                                    {% if loop.index0 == 0 and loop.length == 1 %}Recipient
                                    {% elif loop.index0 == 0 and loop.length > 1 %}Recipients
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>{{ recipient.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="doc_result_right_table">
                        <tbody>
                            <tr><td class="td_heading">Folder </td><td>{{ doc.folder }}</td></tr>
                            <tr><td class="td_heading">Date </td><td>{{ doc.date }}</td></tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    {% if search_facets %}
    <div class="col-3">
        <label class="text_label" for="title">Author</label>
        {% for facet in search_facets["authors"]%}
            {{facet[0]}} ({{ facet[1]}})</br>
        {% endfor %}

        <label class="text_label" for="title">Author Organizations</label>
        {% for facet in search_facets["author organizations"]%}
            {{facet[0]}} ({{ facet[1]}})</br>
        {% endfor %}

        <label class="text_label" for="title">Recipient</label>
        {% for facet in search_facets["recipients"]%}
            {{facet[0]}} ({{ facet[1]}})</br>
        {% endfor %}

        <label class="text_label" for="title">Recipient Organization</label>
        {% for facet in search_facets["recipient organizations"]%}
            {{facet[0]}} ({{ facet[1]}})</br>
        {% endfor %}

        <label class="text_label" for="title">Cceds:</label>
        {% for facet in search_facets["cceds"]%}
            {{facet[0]}} ({{ facet[1]}})</br>
        {% endfor %}

        <label class="text_label" for="title">Cced Organizations:</label>
        {% for facet in search_facets["cced organizations"]%}
            {{facet[0]}} ({{ facet[1]}})</br>
        {% endfor %}

        <label class="text_label" for="title">Years:</label>
        {% for facet in search_facets["years"]%}
            {{facet[0]}} ({{ facet[1]}})</br>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endif %}


{%  endblock %}

