{% extends "base.jinja2" %}

{% block title %}
Stories from the Archives
{% endblock %}

{% block header %}
Stories from the Archives
{% endblock %}

{% block content %}
<div class="row mt-4">
    {% for story in stories %}
        {% include 'archives/stories/' + story + '-teaser.jinja2' %}
    {% endfor %}
</div>
{% endblock %}
