<div class='col-12 col-md-6 col-lg-4
            ml-2 mx-md-0
            mb-2
            p-0'>

    <div class='panel story-card-panel mr-md-2'>
        <a href="{% url 'story' story %}" style="color: black">
            <div class="row story-teaser-img-container">
                <div class="col">
                    <img src="{{ static('img/stories/' + story + '-teaser.png') }}"
                         alt="Teaser image for {{ story }}"
                         class="story-teaser-img"/>
                </div>
            </div>
        </a>

        <div class="row p-2">
            <div class="col" style="height: 100%;">
                <a href="{% url 'story' story %}" style="color: black"><span class="story-title">{% block story_title %}{% endblock %}</span></a>
                <a href="{% url 'story' story %}" style="color: black"><span class="story-teaser">{% block story_teaser %}{% endblock %}</span></a>
            </div>
        </div>

    </div>
</div>
