<div class="px-1">
    <a href="{% url 'story' story %}" style="color: black">
        <div class="row story-teaser-img-container">
            <img src="{{ static('img/stories/' + story + '-teaser.png') }}"/
                 class="story-teaser-img"/>
        </div>
        <div class="row">
            <span class="story-title">{% block story_title %}{% endblock %}</span>
            <span class="story-teaser">{% block story_teaser %}{% endblock %}</span>
        </div>
    </a>
</div>
