{% extends "base.jinja2" %}

{% block title %}
{% block story_title %}{% endblock %}
{% endblock %}

{% block header %}
{{ self.title() }}
<h4>{% block story_credit %}{% endblock %}</h4>
{% endblock %}

{% block content %}
<div class="row"><div class="col panel p-4 mb-2">
{% block story_body %}{% endblock %}
</div></div>

{% endblock %}
