{% extends "simulations/base.jinja2" %}

{% block buttons %}
    <button id="step_button">Step</button>
    <button id="run_button">Run</button>
    <button id="reset_button">Reset</button>
{% endblock %}