{% extends "simulations/base.jinja2" %}

{% block buttons %}
    <button id="step_button" data-step="11" data-intro="Runs one operation at a time.">Step</button>
    <button id="run_button" data-step="12" data-intro="Runs all the code in succession.">Run</button>
    <button id="reset_button" data-step="13" data-intro="Resets the assembler.">Reset</button>
{% endblock %}