{% extends "simulations/base.jinja2" %}

{% block buttons %}
    <button id="step_button" data-step="11" data-intro="box 11">Step</button>
    <button id="run_button" data-step="12" data-intro="box 12">Run</button>
    <button id="reset_button" data-step="13" data-intro="box 13">Reset</button>
{% endblock %}