{% extends "simulations/base.jinja2" %}

{% block title %}IBM 704 Assembler{% endblock %}

{% block self %}IBM 704 Assembler{% endblock %}

{% block description %}
<p>This is your space to play around with whatever code you want to write with the operations we have.
    It's just like the real thing, except there are no punch cards.  And you can type instead of writing.
    And we actually check your syntax.  And you can magically see into the computer's memory, with magical highlighting.
    And no bugs can crawl into the computer. <br />
    <br />
    But aside from that, it's just like the real thing!</p>
    <br />
    <h3 align = "center">Currently Implemented Operations</h3><br />
    <p id = "available_operations" align = "center"></p>
{% endblock %}
