{% extends "simulations/base.jinja2" %}

{% block title %}IBM 704 Assembler{% endblock %}

{% block header %}IBM 704 Assembler{% endblock %}

{% block buttons %}
    <button class="btn btn-primary btn-small" id="step_button" data-step="10" data-intro="Press this button to execute the next instruction
    .">Step</button>
    <button class="btn btn-primary btn-small" id="run_button" data-step="11" data-intro="Press this button to run the program.">Run</button>
    <button class="btn btn-primary btn-small" id="clear_button" data-step="12" data-intro="Press this button to clear the computer's
    memory.">Clear</button>
    <button class="btn btn-primary btn-small" id="assemble_button" data-step="13" data-intro="Press this button to put the program
    inputted on the left into the computer's memory.  You need to do this before running.">Assemble</button>
    <button class="btn btn-primary btn-small" id="highlight_button" data-step="14" data-intro="Press this button to turn the highlighting on or off
    .">Toggle Highlighting</button>
{% endblock %}

{% block description %}
<p>This is your space to play around with whatever code you want to write with the operations we have.
    It's just like the real thing, except there are no punch cards.  And you can type instead of writing.
    And we actually check your syntax.  And you can magically see into the computer's memory, with magical highlighting.
    And no bugs can crawl into the computer. <br />
    <br />
    But aside from that, it's just like the real thing!</p>
    <br />
    <h3 align = "center">Currently Implemented Operations</h3><br />
    <p id="available_operations"></p><br />
    <h6>Resources</h6>
    <ul>
        <li><a href="http://bitsavers.org/pdf/ibm/704/24-6661-2_704_Manual_1955.pdf" target="_blank">IBM 704
            Manual of Operation</a></li>
        <li><a href="http://bitsavers.org/pdf/mit/computer_center/Coding_for_the_MIT-IBM_704_Computer_Oct57.pdf"
               target="_blank">Coding for the MIT IBM 704 Computer (by the MIT Computation Center)</a></li>
        <li><a href="http://dome.mit.edu/bitstream/handle/1721.3/48791/DTMB_1960_1368.pdf?sequence=1"
               target="_blank">Training Manual on Programming for the IBM 704</a></li>
    </ul>
    Any problems?  Open an issue labeled <code>simulations</code> at <a href="https://github.com/dhmit/computation_hist/issues">our Github</a>!
{% endblock %}
