{% extends "simulations/base.jinja2" %}

{% block title %}IBM 704 Assembler{% endblock %}

{% block header %}IBM 704 Assembler{% endblock %}

{% block buttons %}
    <button id="step_button" data-step="11" data-intro="box 11">Step</button>
    <button id="run_button" data-step="12" data-intro="box 12">Run</button>
    <button id="clear_button" data-step="13" data-intro="box 13">Clear</button>
    <button id="assemble_button" data-step="14" data-intro="box 14">Assemble</button>
    <button id="highlight_button" data-step="15" data-intro="box 15">Turn highlighting on or off</button>
{% endblock %}

{% block description %}
<p>This is your space to play around with whatever code you want to write with the operations we have.
    It's just like the real thing, except there are no punch cards.  And you can type instead of writing.
    And we actually check your syntax.  And you can magically see into the computer's memory, with magical highlighting.
    And no bugs can crawl into the computer. <br />
    <br />
    But aside from that, it's just like the real thing!</p>
    <br />
    <h3 align = "center">Currently Implemented Operations</h3><br />
    <p id="available_operations"></p>
    <a href="http://bitsavers.org/pdf/ibm/704/24-6661-2_704_Manual_1955.pdf" target="_blank">Operations Manual</a>
{% endblock %}
