{% extends "base.jinja2" %}

{% block content %}
    <button id="1">1</button>
    <button id="2">2</button>
    <button id="3">3</button>
    <button id="4">4</button>
    <button id="5">5</button>
    <button id="6">6</button>
    <button id="7">7</button>
    <button id="8">8</button>
    <button id="9">9</button>
    <button id="0">0</button>
    <button id="A">A</button>
    <button id="B">B</button>
    <button id="C">C</button>
    <button id="D">D</button>
    <button id="E">E</button>
    <button id="F">F</button>
    <button id="G">G</button>
    <button id="H">H</button>
    <button id="I">I</button>
    <button id="J">J</button>
    <button id="K">K</button>
    <button id="L">L</button>
    <button id="M">M</button>
    <button id="N">N</button>
    <button id="O">O</button>
    <button id="P">P</button>
    <button id="Q">Q</button>
    <button id="R">R</button>
    <button id="S">S</button>
    <button id="T">T</button>
    <button id="U">U</button>
    <button id="V">V</button>
    <button id="W">W</button>
    <button id="X">X</button>
    <button id="Y">Y</button>
    <button id="Z">Z</button>
    <button id=":">:</button>
    <button id="#">#</button>
    <button id="@">@</button>
    <button id="'">'</button>
    <button id="=">=</button>
    <button id="q_marks">"</button>
    <button id=".">.</button>
    <button id="<"><</button>
    <button id="(">(</button>
    <button id="+">+</button>
    <button id="|">|</button>
    <button id="!">!</button>
    <button id="*">*</button>
    <button id=")">)</button>
    <button id=";">;</button>
    <button id="^">^</button>
    <button id=",">,</button>
    <button id="%">%</button>
    <button id="_">_</button>
    <button id=">">></button>
    <button id="?">?</button>
    <button id="&">&</button>
    <button id="-">-</button>
    <button id=" "> Space </button>
    <textarea id="text_input"></textarea>
{% endblock  %}

{% block scripts %}
        <script type="module">
        import { character_to_binary_string } from "{{ static("js/punchcards.js") }}"
            const textarea = $('#text_input');
            console.log(textarea.val());
            $('#a_button').click(() => {
                textarea.val(textarea.val() + "010\n");
            });
             $('#b_button').click(() => {
                 textarea.val(textarea.val() + "000\n");

            });
              $('#c_button').click(() => {
                  textarea.val(textarea.val() + "111\n");

            });
        </script>



{% endblock %}
